{% extends 'base/base.html' %}
{% block content %}
<div class="pageContainer">
  <header class="unam-primary sticky-top">
    <div class="container-fluid mainMenu">
      {% block navigation %}
      {% include 'base/nav.html' %}
      {% endblock %}
    </div>
  </header>
  <div class="container-fuid">
    <div id="mainBanner" class="d-flex justify-content-around align-items-center">
      <img src="../static/images/logo.png" alt="Pet Gurú">
      <p class="bannerText lead mx-2 text-center">Sistéma de apoyo para los alumnos de la Facultad de Medicina Veterinaria y Zootecnia.</p>
    </div>
    <div class="row foroContainer">
      <main id="foroMain" class="col-12 pt-3">
        <div class="jumbotron">
          <div class="row container-fluid m-auto p-0">
            <div class="col-sm-12 col-md-8 d-flex  mx-auto p-0 align-items-center flex-column justify-content-around">
              <h3>Búsqueda</h3>
              <form class="container px-4">
                <div class="form-group">
                  <label for="FormControlSpecies">Especie</label>
                  <select class="form-control" id="FormControlSpecies">
                    <option>Bovino</option>
                    <option>Equino</option>
                    <option>Porcino</option>
                    <option>Ovino</option>
                    <option>Gallus</option>
                    <option>Lepórido</option>
                    <option>Aves</option>
                    <option>Canino</option>
                    <option>Felino</option>
                    <option>Fauna silvestre</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="FormControlGender">Género</label>
                  <select class="form-control" id="FormControlGender">
                    <option>Macho</option>
                    <option>Hembra</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="FormControlStatus">Estado fisiológico</label>
                  <select multiple class="form-control" id="FormControlStatus">
                    <option>Lactante</option>
                    <option>Gestante</option>
                    <option>Crecimiento</option>
                    <option>Otro</option>
                  </select>
                </div>
                <div class="form-group text-right">
                  <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
              </form>
            </div>
            <div class="col-md-4 d-flex  mx-auto p-0 align-items-center flex-column justify-content-around text-center">
              <h3>Inicia sesión para realizar una pregunta</h3>
              <div class="logIn bcard bg-light mx-auto">
                <div class="card-header unam-primary text-uppercase">Inicia Sesión</div>
                <div class="card-body">
                  <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Usuario</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Usuario">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Contraseña</label>
                      <input type="Contraseña" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
                    </div>
                    <a id="LogInOut" href="#" class="nav-link unam-primary text-white text-center">Ingresar</a>
                  </form>
                </div>
              </div>
              <a class="btn btn-primary newQuestion notLogged" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Realiza una pregunta
              </a>
            </div>
          </div>
          <hr class="my-4">
          <div class="row d-flex justify-content-center">
            <div class="collapse" id="collapseExample">
              <div class="card card-body speciesMenu">
                <h5 class="text-center">Elige un espécimen</h5>
                <div class="animals m-auto d-flex flex-row flex-wrap">
                  <div data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Bovino">
                    <a data-toggle="modal" data-target="#vacaModal"><img src="../static/images/animal/vaca.png" alt="animal icon"></a>
                  </div>
                  <div data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Porcino">
                    <a data-toggle="modal" data-dismiss="modal" data-target="#cerdoModal"><img src="../static/images/animal/cerdo.png" alt="animal icon"></a>
                  </div>
                  <div data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Equino">
                    <a data-toggle="modal" data-dismiss="modal" data-target="#caballoModal"><img src="../static/images/animal/caballo.png" alt="animal icon"></a>
                  </div>
                  <div data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Ovino">
                    <a data-toggle="modal" data-dismiss="modal" data-target="#ovejaModal"><img src="../static/images/animal/oveja.png" alt="animal icon"></a>
                  </div>
                  <div data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Gallus">
                    <a data-toggle="modal" data-dismiss="modal" data-target="#galloModal"><img src="../static/images/animal/gallo.png" alt="animal icon"></a>
                  </div>
                  <div data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Lepórido">
                    <a data-toggle="modal" data-dismiss="modal" data-target="#conejoModal"><img src="../static/images/animal/conejo.png" alt="animal icon"></a>
                  </div>
                  <div data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Aves">
                   <a data-toggle="modal" data-dismiss="modal" data-target="#avesModal"><img src="../static/images/animal/pato.png" alt="animal icon"></a>
                 </div>
                 <div data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Canino">
                  <a data-toggle="modal" data-dismiss="modal" data-target="#perroModal"><img src="../static/images/animal/perro.png" alt="animal icon"></a>
                </div>
                <div data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Felino">
                  <a data-toggle="modal" data-dismiss="modal" data-target="#gatoModal"><img src="../static/images/animal/gato.png" alt="animal icon"></a>
                </div>
                <div data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Fauna silvestre">
                  <a data-toggle="modal" data-dismiss="modal" data-target="#silvestreModal"><img src="../static/images/animal/fauna.png" alt="animal icon"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron infoText mt-3">
        <h1 class="h1">Últimas preguntas</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae earum molestiae quae, ratione est ducimus.</p>
        <hr class="my-4">
        <div class="card-container d-flex flex-row flex-wrap justify-content-around align-items-center">
          <div class="card">
            <div class="card-body">
              <div class="card-title card-banner">
                <img src="../static/images/banner.jpg" class="img-fluid" alt="Question image">
              </div>
              <h5 class="card-subtitle mb-2 mt-4 text-dark">Pregunta corta</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis odio illo dolores fugiat ipsa odit explicabo impedit, eaque temporibus minima.</p>
              <a href="single-question.html" class="card-link">Leer más</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="card-title card-banner">
                <img src="../static/images/banner.jpg" class="img-fluid" alt="Question image">
              </div>
              <h5 class="card-subtitle mb-2 mt-4 text-dark">Pregunta corta</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis odio illo dolores fugiat ipsa odit explicabo impedit, eaque temporibus minima.</p>
              <a href="single-question.html" class="card-link">Leer más</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="card-title card-banner">
                <img src="../static/images/banner.jpg" class="img-fluid" alt="Question image">
              </div>
              <h5 class="card-subtitle mb-2 mt-4 text-dark">Pregunta corta</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis odio illo dolores fugiat ipsa odit explicabo impedit, eaque temporibus minima.</p>
              <a href="single-question.html" class="card-link">Leer más</a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>


<!-- Animal´s modals -->
<!-- Vaca -->
<div class="modal fade" id="vacaModal" tabindex="-1" role="dialog" aria-labelledby="vacaModal" aria-hidden="true">
  {% include 'question/cow.html' %}
</div>
<!-- Caballo -->
<div class="modal fade" id="caballoModal" tabindex="-1" role="dialog" aria-labelledby="caballoModal" aria-hidden="true">
  {% include 'question/horse.html' %}  
</div>
<!-- Oveja -->
<div class="modal fade" id="ovejaModal" tabindex="-1" role="dialog" aria-labelledby="ovejaModal" aria-hidden="true">
  {% include 'question/sheep.html' %}  
</div>
<!-- Cerdo -->
<div class="modal fade" id="cerdoModal" tabindex="-1" role="dialog" aria-labelledby="cerdoModal" aria-hidden="true">
  {% include 'question/pig.html' %}  
</div>
<!-- Conejo -->
<div class="modal fade" id="conejoModal" tabindex="-1" role="dialog" aria-labelledby="conejoModal" aria-hidden="true">
  {% include 'question/rabbit.html' %}  
</div>
<!-- Gallo -->
<div class="modal fade" id="galloModal" tabindex="-1" role="dialog" aria-labelledby="galloModal" aria-hidden="true">
  {% include 'question/rooster.html' %}  
</div>
<!-- Aves -->
<div class="modal fade" id="avesModal" tabindex="-1" role="dialog" aria-labelledby="avesModal" aria-hidden="true">
  {% include 'question/bird.html' %}  
</div>
<!-- Perros -->
<div class="modal fade" id="perroModal" tabindex="-1" role="dialog" aria-labelledby="perroModal" aria-hidden="true">
  {% include 'question/dog.html' %}  
</div>
<!-- Gatos -->
<div class="modal fade" id="gatoModal" tabindex="-1" role="dialog" aria-labelledby="gatoModal" aria-hidden="true">
  {% include 'question/cat.html' %}  
</div>
<!-- Fauna Silvestre -->
<div class="modal fade" id="silvestreModal" tabindex="-1" role="dialog" aria-labelledby="faunaModal" aria-hidden="true">
  {% include 'question/wild.html' %}  
</div>
{% endblock %}