<!DOCTYPE html>
<html lang="es">
<!-- MADE WITH ♥ BY DIGIMUNDO TECHNOLOGIES -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pets UNAM</title>
  <!-- Icons -->
  <link rel="shortcut icon" href="favicon.ico" type="icon/x-icon"/>
  <link rel="apple-touch-icon" href="assets/icon/apple-touch-icon.png"/>
  <link rel="apple-touch-icon" sizes="57x57" href="assets/icon/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="assets/icon/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="assets/icon/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="assets/icon/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="assets/icon/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="assets/icon/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="assets/icon/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="assets/icon/apple-touch-icon-180x180.png" />
  <!-- Settings -->
  <meta name="description" content="Desarrollador Front-End, con conocimientos firmes y sólidos en Wordpress, html5, css3, javascript, jquery" />
  <meta name="keywords" content="Wordpress, html5, css3, javascript, jquery, asesoria digital, web development, ios android" />
  <meta name="author" content="Ariel Molina" />
  <!-- Stylesheets -->
  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/master.css">
</head>
<body>
  <div class="pageContainer">
    <header class="unam-primary sticky-top">
      <div class="container-fluid mainMenu">
        <!-- Image and text -->
        <nav class="navbar navbar-light bg-light navbar-expand-lg">
          <a class="navbar-brand d-flex align-items-center" href="index.html">
            <img id="mainLogo" src="assets/images/logo.png" class="d-inline-block align-top mr-2" alt="FMVZ logo">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ml-auto mr-2">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Consultas</a> 
              </li>
              <li class="nav-item">
                <a class="nav-link" href="nosotros.html">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="reglamento.html">Reglamento</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      
    </header>
    <main>
      <div class="jumbotron mb-0">
        <div class="container-fluid">
          <h1 class="h1">Reglamento e instrucciones</h1>
          <p class="lead">Lee atentamente cada sección, para tener la mejor experiencia en la plataforma.</p>
          <hr class="my-4">
          <h3>Reglamento</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo assumenda, quaerat. Voluptas repudiandae nostrum officia iure voluptatum, harum minima error beatae, optio alias magni, dolor illo consequuntur fugit est quo.30</p>
          <ol>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
          </ol>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo assumenda, quaerat. Voluptas repudiandae nostrum officia iure voluptatum, harum minima error beatae, optio alias magni, dolor illo consequuntur fugit est quo.30</p>
          <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
          </ul>
          <hr class="my-4 pt-4">
          <h3>Instrucciones</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo assumenda, quaerat. Voluptas repudiandae nostrum officia iure voluptatum, harum minima error beatae, optio alias magni, dolor illo consequuntur fugit est quo.30</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo assumenda, quaerat. Voluptas repudiandae nostrum officia iure voluptatum, harum minima error beatae, optio alias magni, dolor illo consequuntur fugit est quo.30</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo assumenda, quaerat. Voluptas repudiandae nostrum officia iure voluptatum, harum minima error beatae, optio alias magni, dolor illo consequuntur fugit est quo.30</p>
          <p class="lead pt-4">
            <a class="btn unam-primary btn-lg" href="index.html" role="button">Consultas</a>
          </p>
        </div>
      </div>
    </main>
    <footer class="footer text-gray-dark">
      <span class="text-muted">
        <a class="link" href="http://www.digimundo.com.mx">Made with ♥ by Digimundo</a>
      </span>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
  <script src="assets/js/scripts.js"></script>
</body>
</html>