{{ form.non_field_errors }}
<hr>
<h4>Reseña</h4>
<div class="form-group">
  {{ form.genetic.errors }}
  <label for="{{ form.genetic.id_for_label }}">{{ form.genetic.label }}</label>
  <div class="input-group">
    {{ form.genetic }}
    <span class="input-group-addon">
      <input id="birdtypec" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangetype()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.zootechnical.errors }}
  <label for="{{ form.zootechnical.id_for_label }}">{{ form.zootechnical.label }}</label>
  <div class="input-group">
    {{ form.zootechnical }}
    <span class="input-group-addon">
      <input id="birdzooc" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangezoo()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.age.errors }}
  <label for="{{ form.age.id_for_label }}">{{ form.age.label }}</label>
  <div class="input-group">
    {{ form.age }}
    <span class="input-group-addon">
      <input id="birdagewc" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangeagew()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.weight.errors }}
  <label for="{{ form.weight.id_for_label }}">{{ form.weight.label }}</label>
  <div class="input-group">
    {{ form.weight }}
    <span class="input-group-addon">
      <input id="birdagemc" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangeagem()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.pond.errors }}
  <label for="{{ form.pond.id_for_label }}">{{ form.pond.label }}</label>
  {{ form.pond }}
</div>
<div class="form-group">
  {{ form.density.errors }}
  <label for="{{ form.density.id_for_label }}">{{ form.density.label }}</label>
  <div class="input-group">
    {{ form.density }}
    <span class="input-group-addon">
      <input id="birdquantc" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangequant()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.biomass.errors }}
  <label for="{{ form.biomass.id_for_label }}">{{ form.biomass.label }}</label>
  <div class="input-group">
    {{ form.biomass }}
    <span class="input-group-addon">
      <input id="birdexistc" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangeexist()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.aeration.errors }}
  <label for="{{ form.aeration.id_for_label }}">{{ form.aeration.label }}</label>
  {{ form.aeration }}
</div>
<div class="form-group">
  {{ form.aeration_type.errors }}
  <label for="{{ form.aeration_type.id_for_label }}">{{ form.aeration_type.label }}</label>
  {{ form.aeration_type }}
</div>
<div class="form-group">
  {{ form.recirculation_water.errors }}
  <label for="{{ form.recirculation_water.id_for_label }}">{{ form.recirculation_water.label }}</label>
  {{ form.recirculation_water }}
</div>
<div class="form-group">
  {{ form.change_water.errors }}
  <label for="{{ form.change_water.id_for_label }}">{{ form.change_water.label }}</label>
  <div class="input-group">
    {{ form.change_water }}
    <span class="input-group-addon">
      <input id="birddatec" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangedate()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.date_sowing.errors }}
  <label for="{{ form.date_sowing.id_for_label }}">{{ form.date_sowing.label }}</label>
  <div class="input-group">
    {{ form.date_sowing }}
    <span class="input-group-addon">
      <input id="birdwaterc" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangewater()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<hr>
<h4>Exámen general del agua</h4>
<div class="form-group">
  {{ form.temperature_6am.errors }}
  <label for="{{ form.temperature_6am.id_for_label }}">{{ form.temperature_6am.label }}</label>
  <div class="input-group">
    {{ form.temperature_6am }}
    <span class="input-group-addon">
      <input id="birdeatc" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangeeat()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.temperature_3pm.errors }}
  <label for="{{ form.temperature_3pm.id_for_label }}">{{ form.temperature_3pm.label }}</label>
  <div class="input-group">
    {{ form.temperature_3pm }}
    <span class="input-group-addon">
      <input id="birdvaccinec" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangevaccine()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.oxygen_6am.errors }}
  <label for="{{ form.oxygen_6am.id_for_label }}">{{ form.oxygen_6am.label }}</label>
  <div class="input-group">
    {{ form.oxygen_6am }}
    <span class="input-group-addon">
      <input id="birddefecc" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangedefec()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.oxygen_3pm.errors }}
  <label for="{{ form.oxygen_3pm.id_for_label }}">{{ form.oxygen_3pm.label }}</label>
  <div class="input-group">
    {{ form.oxygen_3pm }}
    <span class="input-group-addon">
      <input id="birddefecc" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangedefec()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.ph_6am.errors }}
  <label for="{{ form.ph_6am.id_for_label }}">{{ form.ph_6am.label }}</label>
  <div class="input-group">
    {{ form.ph_6am }}
    <span class="input-group-addon">
      <input id="birddefecc" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangedefec()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.ph_3pm.errors }}
  <label for="{{ form.ph_3pm.id_for_label }}">{{ form.ph_3pm.label }}</label>
  <div class="input-group">
    {{ form.ph_3pm }}
    <span class="input-group-addon">
      <input id="birddefecc" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangedefec()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.transparency.errors }}
  <label for="{{ form.transparency.id_for_label }}">{{ form.transparency.label }}</label>
  <div class="input-group">
    {{ form.transparency }}
    <span class="input-group-addon">
      <input id="birddefecc" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangedefec()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<hr>
<div class="form-group">
  <h4>Exámen general de la población</h4>
  <div class="form-row">
    <div class="form-group col-md-4 d-flex flex-column justify-content-around">
      {{ form.mortality.errors }}
      <label for="{{ form.mortality.id_for_label }}">{{ form.mortality.label }}</label>
      <div class="input-group">
        {{ form.mortality }}
        <span class="input-group-addon">
          <input id="birdconditionc" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangecondition()">
        </span>
        <span class="input-group-addon">S/D</span>
      </div>
    </div>
    <div class="form-group col-md-4 d-flex flex-column justify-content-around">
      {{ form.start_mortality.errors }}
      <label for="{{ form.start_mortality.id_for_label }}">{{ form.start_mortality.label }}</label>
      <div class="input-group">
        {{ form.start_mortality }}
        <span class="input-group-addon">
          <input id="birdplumagec" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangeplumage()">
        </span>
        <span class="input-group-addon">S/D</span>
      </div>
    </div>
    <div class="form-group col-md-4 d-flex flex-column justify-content-around">
      {{ form.position.errors }}
      <label for="{{ form.position.id_for_label }}">{{ form.position.label }}</label>
      {{ form.position }}
    </div>
    <div class="form-group col-md-4 d-flex flex-column justify-content-around">
      {{ form.body_color.errors }}
      <label for="{{ form.body_color.id_for_label }}">{{ form.body_color.label }}</label>
      {{ form.body_color }}
    </div>
    <div class="form-group col-md-4 d-flex flex-column justify-content-around">
      {{ form.moves.errors }}
      <label for="{{ form.moves.id_for_label }}">{{ form.moves.label }}</label>
      {{ form.moves }}
    </div>
    <div class="form-group col-md-4 d-flex flex-column justify-content-around">
      {{ form.lack_of_appetite.errors }}
      <label for="{{ form.lack_of_appetite.id_for_label }}">{{ form.lack_of_appetite.label }}</label>
      {{ form.lack_of_appetite }}
    </div>
    <div class="form-group col-md-4 d-flex flex-column justify-content-around">
      {{ form.type_eat.errors }}
      <label for="{{ form.type_eat.id_for_label }}">{{ form.type_eat.label }}</label>
      {{ form.type_eat }}
    </div>
    <div class="form-group col-md-4 d-flex flex-column justify-content-around">
      {{ form.eat_for_day.errors }}
      <label for="{{ form.eat_for_day.id_for_label }}">{{ form.eat_for_day.label }}</label>
      {{ form.eat_for_day }}
    </div>
  </div>
  <h4>Exámen individual de peces afectados</h4>
  <div class="form-row">
    <div class="form-group col-md-4 d-flex flex-column justify-content-around">
      {{ form.coloration.errors }}
      <label for="{{ form.coloration.id_for_label }}">{{ form.coloration.label }}</label>
      {{ form.coloration }}
    </div>
    <div class="form-group col-md-4 d-flex flex-column justify-content-around">
      {{ form.bulging_belly.errors }}
      <label for="{{ form.bulging_belly.id_for_label }}">{{ form.bulging_belly.label }}</label>
      {{ form.bulging_belly }}
    </div>
    <div class="form-group col-md-4 d-flex flex-column justify-content-around">
      {{ form.exophthalmia.errors }}
      <label for="{{ form.exophthalmia.id_for_label }}">{{ form.exophthalmia.label }}</label>
      {{ form.exophthalmia }}
    </div>
    <div class="form-group col-md-4 d-flex flex-column justify-content-around">
      {{ form.petechia.errors }}
      <label for="{{ form.petechia.id_for_label }}">{{ form.petechia.label }}</label>
      {{ form.petechia }}
    </div>
    <div class="form-group col-md-4 d-flex flex-column justify-content-around">
      {{ form.dilated.errors }}
      <label for="{{ form.dilated.id_for_label }}">{{ form.dilated.label }}</label>
      {{ form.dilated }}
    </div>
    <div class="form-group col-md-4 d-flex flex-column justify-content-around">
      {{ form.ulcers.errors }}
      <label for="{{ form.ulcers.id_for_label }}">{{ form.ulcers.label }}</label>
      {{ form.ulcers }}
    </div>
    <div class="form-group col-md-4 d-flex flex-column justify-content-around">
      {{ form.skin_sores.errors }}
      <label for="{{ form.skin_sores.id_for_label }}">{{ form.skin_sores.label }}</label>
      {{ form.skin_sores }}
    </div>
    <div class="form-group col-md-4 d-flex flex-column justify-content-around">
      {{ form.cotton_structures.errors }}
      <label for="{{ form.cotton_structures.id_for_label }}">{{ form.cotton_structures.label }}</label>
      {{ form.cotton_structures }}
    </div>
    <div class="form-group col-md-4 d-flex flex-column justify-content-around">
      {{ form.necrosis_epidermal_layer.errors }}
      <label for="{{ form.necrosis_epidermal_layer.id_for_label }}">{{ form.necrosis_epidermal_layer.label }}</label>
      {{ form.necrosis_epidermal_layer }}
    </div>
    <div class="form-group col-md-4 d-flex flex-column justify-content-around">
      {{ form.ocular_opacity.errors }}
      <label for="{{ form.ocular_opacity.id_for_label }}">{{ form.ocular_opacity.label }}</label>
      {{ form.ocular_opacity }}
    </div>
  </div>
</div>
