{{ form.non_field_errors }}
<hr>
<h4>Reseña</h4>
<div class="form-group">
  {{ form.specie.errors }}
  <label for="{{ form.specie.id_for_label }}">{{ form.specie.label }}</label>
  {{ form.specie }}
</div>
<div class="form-group">
  {{ form.race.errors }}
  <div class="input-group">
    <span class="input-group-addon">
      <label for="{{ form.race.id_for_label }}">{{ form.race.label }}</label>
    </span>
    {{ form.race }}
    <span class="input-group-addon">
      <input id="rabracec" type="checkbox" aria-label="Checkbox for following text input" onclick="rabchangerace()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.age.errors }}
  <div class="input-group">
    <span class="input-group-addon">
      <label for="{{ form.age.id_for_label }}">{{ form.age.label }}</label>
    </span>
    {{ form.age }}
    <span class="input-group-addon">
      <input id="rabracec" type="checkbox" aria-label="Checkbox for following text input" onclick="rabchangerace()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.weight.errors }}
  <div class="input-group">
    <span class="input-group-addon">
      <label for="{{ form.weight.id_for_label }}">{{ form.weight.label }}</label>
    </span>
    {{ form.weight }}
    <span class="input-group-addon">
      <input id="rabracec" type="checkbox" aria-label="Checkbox for following text input" onclick="rabchangerace()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.gender.errors }}
  <label for="{{ form.gender.id_for_label }}">{{ form.gender.label }}</label>
  {{ form.gender }}
</div>
<div class="form-group">
  {{ form.physiological_stage.errors }}
  <div class="input-group">
    <span class="input-group-addon">
      <label for="{{ form.physiological_stage.id_for_label }}">{{ form.physiological_stage.label }}</label>
    </span>
    {{ form.physiological_stage }}
    <span class="input-group-addon">
      <input id="rabracec" type="checkbox" aria-label="Checkbox for following text input" onclick="rabchangerace()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.production_system.errors }}
  <div class="input-group">
    <span class="input-group-addon">
      <label for="{{ form.production_system.id_for_label }}">{{ form.production_system.label }}</label>
    </span>
    {{ form.production_system }}
    <span class="input-group-addon">
      <input id="rabracec" type="checkbox" aria-label="Checkbox for following text input" onclick="rabchangerace()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.curse.errors }}
  <div class="input-group">
    <span class="input-group-addon">
      <label for="{{ form.curse.id_for_label }}">{{ form.curse.label }}</label>
    </span>
    {{ form.curse }}
    <span class="input-group-addon">
      <input id="rabracec" type="checkbox" aria-label="Checkbox for following text input" onclick="rabchangerace()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<hr>
<div class="form-group">
  <h4>Exámen físico general</h4>
  <div class="form-row">
    <div class="form-group col-md-4">
      {{ form.heart_rate.errors }}
      <label for="{{ form.heart_rate.id_for_label }}">{{ form.heart_rate.label }}</label>
      <div class="input-group">
        {{ form.heart_rate }}
        <span class="input-group-addon">
          <input id="rabheartc" type="checkbox" aria-label="Checkbox for following text input" onclick="rabchangeheart()">
        </span>
        <span class="input-group-addon">S/D</span>
      </div>
    </div>
    <div class="form-group col-md-4">
      {{ form.respiratory_rate.errors }}
      <label for="{{ form.respiratory_rate.id_for_label }}">{{ form.respiratory_rate.label }}</label>
      <div class="input-group">
        {{ form.respiratory_rate }}
        <span class="input-group-addon">
          <input id="rabrepsc" type="checkbox" aria-label="Checkbox for following text input" onclick="rabchangereps()">
        </span>
        <span class="input-group-addon">S/D</span>
      </div>
    </div>
    <div class="form-group col-md-4">
      {{ form.temperature.errors }}
      <label for="{{ form.temperature.id_for_label }}">{{ form.temperature.label }}</label>
      <div class="input-group">
        {{ form.temperature }}
        <span class="input-group-addon">
          <input id="rabtempc" type="checkbox" aria-label="Checkbox for following text input" onclick="rabchangetemp()">
        </span>
        <span class="input-group-addon">S/D</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    {{ form.color.errors }}
    <div class="input-group">
      <span class="input-group-addon">
        <label for="{{ form.color.id_for_label }}">{{ form.color.label }}</label>
      </span>
      {{ form.color }}
      <span class="input-group-addon">
        <input id="rabcapilarc" type="checkbox" aria-label="Checkbox for following text input" onclick="rabchangecapilar()">
      </span>
      <span class="input-group-addon">Sin datos</span>
    </div>
  </div>
  <div class="form-group">
    {{ form.attitude.errors }}
    <div class="input-group">
      <span class="input-group-addon">
        <label for="{{ form.attitude.id_for_label }}">{{ form.attitude.label }}</label>
      </span>
      {{ form.attitude }}
      <span class="input-group-addon">
        <input id="rabcapilarc" type="checkbox" aria-label="Checkbox for following text input" onclick="rabchangecapilar()">
      </span>
      <span class="input-group-addon">Sin datos</span>
    </div>
  </div>
  <div class="form-group">
    {{ form.body_condition.errors }}
    <div class="input-group">
      <span class="input-group-addon">
        <label for="{{ form.body_condition.id_for_label }}">{{ form.body_condition.label }}</label>
      </span>
      {{ form.body_condition }}
      <span class="input-group-addon">
        <input id="rabcapilarc" type="checkbox" aria-label="Checkbox for following text input" onclick="rabchangecapilar()">
      </span>
      <span class="input-group-addon">Sin datos</span>
    </div>
  </div>
</div>
