{{ form.non_field_errors }}
<hr>
<h4>Reseña</h4>
<div class="form-group">
  {{ form.type_animal.errors }}
  <label for="{{ form.type_animal.id_for_label }}">{{ form.type_animal.label }}</label>
  <div class="input-group">
    {{ form.type_animal }}
    <span class="input-group-addon">
      <input id="birdtypec" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangetype()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.zootechnical_purpose.errors }}
  <label for="{{ form.zootechnical_purpose.id_for_label }}">{{ form.zootechnical_purpose.label }}</label>
  <div class="input-group">
    {{ form.zootechnical_purpose }}
    <span class="input-group-addon">
      <input id="birdzooc" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangezoo()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.age.errors }}
  <label for="{{ form.age.id_for_label }}">{{ form.age.label }}</label>
  {{ form.age }}
</div>
<div class="form-group">
  {{ form.age_week.errors }}
  <label for="{{ form.age_week.id_for_label }}">{{ form.age_week.label }}</label>
  <div class="input-group">
    {{ form.age_week }}
    <span class="input-group-addon">
      <input id="birdagewc" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangeagew()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.age_month.errors }}
  <label for="{{ form.age_month.id_for_label }}">{{ form.age_month.label }}</label>
  <div class="input-group">
    {{ form.age_month }}
    <span class="input-group-addon">
      <input id="birdagemc" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangeagem()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.place.errors }}
  <label for="{{ form.place.id_for_label }}">{{ form.place.label }}</label>
  {{ form.place }}
</div>
<div class="form-group">
  {{ form.quantity.errors }}
  <label for="{{ form.quantity.id_for_label }}">{{ form.quantity.label }}</label>
  <div class="input-group">
    {{ form.quantity }}
    <span class="input-group-addon">
      <input id="birdquantc" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangequant()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.coexistence.errors }}
  <label for="{{ form.coexistence.id_for_label }}">{{ form.coexistence.label }}</label>
  {{ form.coexistence }}
</div>
<div class="form-group">
  {{ form.origin_water.errors }}
  <label for="{{ form.origin_water.id_for_label }}">{{ form.origin_water.label }}</label>
  <div class="input-group">
    {{ form.origin_water }}
    <span class="input-group-addon">
      <input id="birdoriginc" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangeorigin()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.morbidity.errors }}
  <label for="{{ form.morbidity.id_for_label }}">{{ form.morbidity.label }}</label>
  <div class="input-group">
    {{ form.morbidity }}
    <span class="input-group-addon">
      <input id="birdmorbc" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangemorb()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.mortality.errors }}
  <label for="{{ form.mortality.id_for_label }}">{{ form.mortality.label }}</label>
  <div class="input-group">
    {{ form.mortality }}
    <span class="input-group-addon">
      <input id="birdmortc" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangemort()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.date_signs.errors }}
  <label for="{{ form.date_signs.id_for_label }}">{{ form.date_signs.label }}</label>
  <div class="input-group">
    {{ form.date_signs }}
    <span class="input-group-addon">
      <input id="birddatec" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangedate()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.water.errors }}
  <label for="{{ form.water.id_for_label }}">{{ form.water.label }}</label>
  {{ form.water }}
</div>
<div class="form-group">
  {{ form.eat.errors }}
  <label for="{{ form.eat.id_for_label }}">{{ form.eat.label }}</label>
  {{ form.eat }}
</div>
<div class="form-group">
  {{ form.vaccine.errors }}
  <label for="{{ form.vaccine.id_for_label }}">{{ form.vaccine.label }}</label>
  <div class="input-group">
    {{ form.vaccine }}
    <span class="input-group-addon">
      <input id="birdvaccinec" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangevaccine()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.defecation.errors }}
  <label for="{{ form.defecation.id_for_label }}">{{ form.defecation.label }}</label>
  {{ form.defecation }}
</div>
<hr>
<div class="form-group">
  <h4>Exámen físico general</h4>
  <div class="form-row">
    <div class="form-group col-md-4">
      {{ form.condition_corporal.errors }}
      <label for="{{ form.condition_corporal.id_for_label }}">{{ form.condition_corporal.label }}</label>
      <div class="input-group">
        {{ form.condition_corporal }}
        <span class="input-group-addon">
          <input id="birdconditionc" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangecondition()">
        </span>
        <span class="input-group-addon">S/D</span>
      </div>
    </div>
    <div class="form-group col-md-4">
      {{ form.plumage.errors }}
      <label for="{{ form.plumage.id_for_label }}">{{ form.plumage.label }}</label>
      <div class="input-group">
        {{ form.plumage }}
        <span class="input-group-addon">
          <input id="birdplumagec" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangeplumage()">
        </span>
        <span class="input-group-addon">S/D</span>
      </div>
    </div>
    <div class="form-group col-md-4">
      {{ form.condition_legs.errors }}
      <label for="{{ form.condition_legs.id_for_label }}">{{ form.condition_legs.label }}</label>
      {{ form.condition_legs }}
    </div>
    <div class="form-group col-md-4">
      {{ form.breathing_frequency.errors }}
      <label for="{{ form.breathing_frequency.id_for_label }}">{{ form.breathing_frequency.label }}</label>
      <div class="input-group">
        {{ form.breathing_frequency }}
        <span class="input-group-addon">
          <input id="birdbreathc" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangebreath()">
        </span>
        <span class="input-group-addon">S/D</span>
      </div>
    </div>
    <div class="form-group col-md-4">
      {{ form.dehydration.errors }}
      <label for="{{ form.dehydration.id_for_label }}">{{ form.dehydration.label }}</label>
      {{ form.dehydration }}
    </div>
    <div class="form-group col-md-4">
      {{ form.attitude.errors }}
      <label for="{{ form.attitude.id_for_label }}">{{ form.attitude.label }}</label>
      <div class="input-group">
        {{ form.attitude }}
        <span class="input-group-addon">
          <input id="birdattc" type="checkbox" aria-label="Checkbox for following text input" onclick="birdchangeatt()">
        </span>
        <span class="input-group-addon">S/D</span>
      </div>
    </div>
  </div>
</div>
