{{ form.non_field_errors }}
<hr>
<h4>Reseña</h4>
<div class="form-group">
  {{ form.specie.errors }}
  <label for="{{ form.specie.id_for_label }}">{{ form.specie.label }}</label>
  {{ form.specie }}
</div>
<div class="form-group">
  {{ form.race.errors }}
  <label for="{{ form.race.id_for_label }}">{{ form.race.label }}</label>
  <div class="input-group">
    {{ form.race }}
    <span class="input-group-addon">
      <input id="catracec" type="checkbox" aria-label="Checkbox for following text input" onclick="changecatrace()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.age.errors }}
  <label for="{{ form.age.id_for_label }}">{{ form.age.label }}</label>
  <div class="input-group">
    {{ form.age }}
    <span class="input-group-addon">
      <input id="catagec" type="checkbox" aria-label="Checkbox for following text input" onclick="changecatage()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.weight.errors }}
  <label for="{{ form.weight.id_for_label }}">{{ form.weight.label }}</label>
  <div class="input-group">
    {{ form.weight }}
    <span class="input-group-addon">
      <input id="catweightc" type="checkbox" aria-label="Checkbox for following text input" onclick="changecatweight()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.gender.errors }}
  <label for="{{ form.gender.id_for_label }}">{{ form.gender.label }}</label>
  {{ form.gender }}
</div>
<hr>
<div class="form-group">
  <h4>Exámen físico general</h4>
  <div class="form-row">
    <div class="form-group col-md-4">
      {{ form.heart_rate.errors }}
      <label for="{{ form.heart_rate.id_for_label }}">{{ form.heart_rate.label }}</label>
      <div class="input-group">
        {{ form.heart_rate }}
        <span class="input-group-addon">
          <input id="catheartc" type="checkbox" aria-label="Checkbox for following text input" onclick="changecatheart()">
        </span>
        <span class="input-group-addon">S/D</span>
      </div>
    </div>
    <div class="form-group col-md-4">
      {{ form.respiratory_rate.errors }}
      <label for="{{ form.respiratory_rate.id_for_label }}">{{ form.respiratory_rate.label }}</label>
      <div class="input-group">
        {{ form.respiratory_rate }}
        <span class="input-group-addon">
          <input id="catrespc" type="checkbox" aria-label="Checkbox for following text input" onclick="changecatresp()">
        </span>
        <span class="input-group-addon">S/D</span>
      </div>
    </div>
    <div class="form-group col-md-4">
      {{ form.temperature.errors }}
      <label for="{{ form.temperature.id_for_label }}">{{ form.temperature.label }}</label>
      <div class="input-group">
        {{ form.temperature }}
        <span class="input-group-addon">
          <input id="cattempc" type="checkbox" aria-label="Checkbox for following text input" onclick="changecattemp()">
        </span>
        <span class="input-group-addon">S/D</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    {{ form.capilar.errors }}
    <label for="{{ form.capilar.id_for_label }}">{{ form.capilar.label }}</label>
    <div class="input-group">
      {{ form.capilar }}
      <span class="input-group-addon">
        <input id="catcapc" type="checkbox" aria-label="Checkbox for following text input" onclick="changecatcap()">
      </span>
      <span class="input-group-addon">Sin datos</span>
    </div>
  </div>
  <div class="form-group">
    {{ form.mucosal_color.errors }}
    <label for="{{ form.mucosal_color.id_for_label }}">{{ form.mucosal_color.label }}</label>
    <div class="input-group">
      {{ form.mucosal_color }}
      <span class="input-group-addon">
        <input id="catmucoc" type="checkbox" aria-label="Checkbox for following text input" onclick="changecatmucos()">
      </span>
      <span class="input-group-addon">Sin datos</span>
    </div>
  </div>
  <div class="form-group">
    {{ form.cough.errors }}
    <label for="{{ form.cough.id_for_label }}">{{ form.cough.label }}</label>
    <div class="input-group">
      {{ form.cough }}
      <span class="input-group-addon">
        <input id="catcoughc" type="checkbox" aria-label="Checkbox for following text input" onclick="changecatcough()">
      </span>
      <span class="input-group-addon">Sin datos</span>
    </div>
  </div>
  <div class="form-group">
    {{ form.pulse.errors }}
    <label for="{{ form.pulse.id_for_label }}">{{ form.pulse.label }}</label>
    <div class="input-group">
      {{ form.pulse }}
      <span class="input-group-addon">
        <input id="catpulsec" type="checkbox" aria-label="Checkbox for following text input" onclick="changecatpulse()">
      </span>
      <span class="input-group-addon">Sin datos</span>
    </div>
  </div>
  <div class="form-group">
    {{ form.skin.errors }}
    <label for="{{ form.skin.id_for_label }}">{{ form.skin.label }}</label>
    <div class="input-group">
      {{ form.skin }}
      <span class="input-group-addon">
        <input id="catskinc" type="checkbox" aria-label="Checkbox for following text input" onclick="changecatskin()">
      </span>
      <span class="input-group-addon">Sin datos</span>
    </div>
  </div>
</div>
