<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="vacaModalLabel">Nueva pregunta (Espécimen Bovino)</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form method="post" action="" class="" name="vacaquest" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Realiza tu pregunta</h3>
        <div class="form-group">
          <label 
          for="{{ form.pregunta.id_for_label }}"
          data-error="{% for e in form.pregunta.errors %}{{ e }}{% endfor %}"
          />Pregunta (De forma corta y precisa)</label>
          <input id="{{ form.pregunta.id_for_label }}" 
          type="text" 
          class="form-control validate {% if form.pregunta.errors %}invalid{% endif %}" 
          name="{{ form.pregunta.name }}" 
          value="{{ form.pregunta.value }}"
          maxlength="{{ form.pregunta.field.max_length }}"
          />
        </div>
        <div class="form-group">
          <label 
          for="{{ form.informacion.id_for_label }}"
          data-error="{% for e in form.informacion.errors %}{{ e }}{% endfor %}"
          />Anexa más información sobre tu pregunta</label>
          <textarea id="{{ form.informacion.id_for_label }}" 
          class="form-control validate {% if form.informacion.errors %}invalid{% endif %}" 
          name="{{ form.informacion.name }}" 
          rows="5" 
          />
        </textarea>
      </div>
      <hr>
      <h4>Reseña</h4>
      <div class="form-group d-none">
        <label 
        for="{{ form.especie.id_for_label }}"
        data-error="{% for e in form.especie.errors %}{{ e }}{% endfor %}"
        />Especie</label>
        <input id="{{ form.especie.id_for_label }}" 
        type="text" 
        class="form-control" 
        name="{{ form.especie.name }}" 
        value="BV"
        maxlength="{{ form.especie.field.max_length }}"
        />
      </div>
      <div class="form-group">
        <label 
        for="{{ form.edad.id_for_label }}"
        data-error="{% for e in form.edad.errors %}{{ e }}{% endfor %}"
        />Edad</label>
        <input id="{{ form.edad.id_for_label }}" 
        type="text" 
        class="form-control validate {% if form.edad.errors %}invalid{% endif %}" 
        name="{{ form.edad.name }}" 
        value="{{ form.edad.value }}"
        maxlength="{{ form.edad.field.max_length }}"
        placeholder="3 años"
        />
      </div>
      <div class="form-group">
        <label 
        for="{{ form.peso.id_for_label }}"
        data-error="{% for e in form.peso.errors %}{{ e }}{% endfor %}"
        />Peso (kg)</label>
        <input id="{{ form.peso.id_for_label }}" 
        type="text" 
        class="form-control validate {% if form.peso.errors %}invalid{% endif %}" 
        name="{{ form.peso.name }}" 
        value="{{ form.peso.value }}"
        maxlength="{{ form.peso.field.max_length }}"
        placeholder="0 - 800kg"
        />
      </div>
      <fieldset class="form-group">
        <div class="form-group">
          <p class="col-form-legend">Sexo</p>
          <div class="col-sm-10">
            {% for genero in sex %}
            <div class="form-check">
              <label 
              for="{{ form.sexo.id_for_label }}"
              class="form-check-label"
              data-error="{% for e in form.sexo.errors %}{{ e }}{% endfor %}"
              />
              <input id="{{ form.sexo.id_for_label }}" 
              type="radio" 
              class="form-check-input" 
              name="{{ form.sexo.name }}" 
              value="{{ form.sexo.value }}"
              maxlength="{{ form.sexo.field.max_length }}"
              />
              </label>
            </div>
            {% endfor %}
          </div>
        </div>
      </fieldset>
    <div class="form-group">
      <label for="Estado_fisiologico" class="col-form-label">Estado Fisiológico</label>
      <input type="text" class="form-control" id="Estado_fisiologico" name="Estado_fisiologico" placeholder="Lactante / Gestante / Crecimiento">
    </div>
    <hr>
    <div class="form-group">
      <h4>Motivo de consulta</h4>
      <label for="Consulta" class="col-form-label">Escriba el motivo:</label>
      <input type="text" class="form-control" id="Consulta" name="Consulta" placeholder="Descripción de la consulta">
    </div>
    <hr>
    <div class="form-group">
      <h4>Exámen físico general</h4>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="FC" class="col-form-label">Frecuencia Cardiaca (lpm)</label>
          <input type="text" class="form-control" id="FC" name="FC">
        </div>
        <div class="form-group col-md-4">
          <label for="FR" class="col-form-label">Frecuencia Respiratoria (rpm)</label>
          <input type="text" class="form-control" id="FR" name="FR">
        </div>
        <div class="form-group col-md-4">
          <label for="Temp" class="col-form-label">Temperatura (°C)</label>
          <input type="text" class="form-control" id="Temp" name="Temp">
        </div>
      </div>
      <div class="form-group">
        <label for="Capilar" class="col-form-label">Tiempo de llenado capilar:</label>
        <input type="text" class="form-control" id="Capilar" name="Capilar" placeholder="">
        <label for="Mucosas" class="col-form-label">Coloración de Mucosas:</label>
        <input type="text" class="form-control" id="Mucosas" name="Mucosas" placeholder="">
        <label for="Linfonodo" class="col-form-label">Linfonodos:</label>
        <input type="text" class="form-control" id="Linfonodo" name="Linfonodo" placeholder="">
      </div>
      <div class="form-group">
        <label for="MovRum" class="col-form-label">Movimientos Ruminales</label>
        <input type="text" class="form-control" id="MovRum" name="MovRum">
      </div>
      <div class="form-group">
        <label for="Clinica">Historia Clínica</label>
        <textarea class="form-control" id="Clinica" name="Clinica" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="images">Imagenes</label>
        <input type="file" name="imgages[]" multiple>
      </div>
    </div>
    <div class="buttonSection d-flex flex-wrap justify-content-around">
      <input type="submit" class="mailitbtn btn btn-success" value="Crear Pregunta" />
      <input type="reset" class="btn btn-danger" data-dismiss="modal" aria-label="Close" value="Salir" />
    </div>
  </form>
</div>
</div>
</div>