{{ form.non_field_errors }}
<hr>
<h4>Reseña</h4>
<div class="form-group">
  {{ form.specie.errors }}
  <label for="{{ form.specie.id_for_label }}">{{ form.specie.label }}</label>
  {{ form.specie }}
</div>
<div class="form-group">
  {{ form.race.errors }}
  <label for="{{ form.race.id_for_label }}">{{ form.race.label }}</label>
  <div class="input-group">
    {{ form.race }}
    <span class="input-group-addon">
      <input id="dogracec" type="checkbox" aria-label="Checkbox for following text input" onclick="changedograce()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.age.errors }}
  <label for="{{ form.age.id_for_label }}">{{ form.age.label }}</label>
  <div class="input-group">
    {{ form.age }}
    <span class="input-group-addon">
      <input id="dogagec" type="checkbox" aria-label="Checkbox for following text input" onclick="changedogage()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.weight.errors }}
  <label for="{{ form.weight.id_for_label }}">{{ form.weight.label }}</label>
  <div class="input-group">
    {{ form.weight }}
    <span class="input-group-addon">
      <input id="dogweightc" type="checkbox" aria-label="Checkbox for following text input" onclick="changedogweight()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.gender.errors }}
  <label for="{{ form.gender.id_for_label }}">{{ form.gender.label }}</label>
  {{ form.gender }}
</div>
<hr>
<div class="form-group">
  <h4>Exámen físico general</h4>
  <div class="form-row">
    <div class="form-group col-md-4">
      {{ form.heart_rate.errors }}
      <label for="{{ form.heart_rate.id_for_label }}">{{ form.heart_rate.label }}</label>
      <div class="input-group">
        {{ form.heart_rate }}
        <span class="input-group-addon">
          <input id="dogheartc" type="checkbox" aria-label="Checkbox for following text input" onclick="changedogheart()">
        </span>
        <span class="input-group-addon">S/D</span>
      </div>
    </div>
    <div class="form-group col-md-4">
      {{ form.respiratory_rate.errors }}
      <label for="{{ form.respiratory_rate.id_for_label }}">{{ form.respiratory_rate.label }}</label>
      <div class="input-group">
        {{ form.respiratory_rate }}
        <span class="input-group-addon">
          <input id="dogrespc" type="checkbox" aria-label="Checkbox for following text input" onclick="changedogresp()">
        </span>
        <span class="input-group-addon">S/D</span>
      </div>
    </div>
    <div class="form-group col-md-4">
      {{ form.temperature.errors }}
      <label for="{{ form.temperature.id_for_label }}">{{ form.temperature.label }}</label>
      <div class="input-group">
        {{ form.temperature }}
        <span class="input-group-addon">
          <input id="dogtempc" type="checkbox" aria-label="Checkbox for following text input" onclick="changedogtemp()">
        </span>
        <span class="input-group-addon">S/D</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    {{ form.capilar.errors }}
    <label for="{{ form.capilar.id_for_label }}">{{ form.capilar.label }}</label>
    <div class="input-group">
      {{ form.capilar }}
      <span class="input-group-addon">
        <input id="dogcapc" type="checkbox" aria-label="Checkbox for following text input" onclick="changedogcap()">
      </span>
      <span class="input-group-addon">Sin datos</span>
    </div>
  </div>
  <div class="form-group">
    {{ form.mucosal_color.errors }}
    <label for="{{ form.mucosal_color.id_for_label }}">{{ form.mucosal_color.label }}</label>
    <div class="input-group">
      {{ form.mucosal_color }}
      <span class="input-group-addon">
        <input id="dogmucoc" type="checkbox" aria-label="Checkbox for following text input" onclick="changedogmucos()">
      </span>
      <span class="input-group-addon">Sin datos</span>
    </div>
  </div>
  <div class="form-group">
    {{ form.cough.errors }}
    <label for="{{ form.cough.id_for_label }}">{{ form.cough.label }}</label>
    <div class="input-group">
      {{ form.cough }}
      <span class="input-group-addon">
        <input id="dogcoughc" type="checkbox" aria-label="Checkbox for following text input" onclick="changedogcough()">
      </span>
      <span class="input-group-addon">Sin datos</span>
    </div>
  </div>
  <div class="form-group">
    {{ form.pulse.errors }}
    <label for="{{ form.pulse.id_for_label }}">{{ form.pulse.label }}</label>
    <div class="input-group">
      {{ form.pulse }}
      <span class="input-group-addon">
        <input id="dogpulsec" type="checkbox" aria-label="Checkbox for following text input" onclick="changedogpulse()">
      </span>
      <span class="input-group-addon">Sin datos</span>
    </div>
  </div>
  <div class="form-group">
    {{ form.skin.errors }}
    <label for="{{ form.skin.id_for_label }}">{{ form.skin.label }}</label>
    <div class="input-group">
      {{ form.skin }}
      <span class="input-group-addon">
        <input id="dogskinc" type="checkbox" aria-label="Checkbox for following text input" onclick="changedogskin()">
      </span>
      <span class="input-group-addon">Sin datos</span>
    </div>
  </div>
</div>
