{{ form.non_field_errors }}
<hr>
<h4>Reseña</h4>
<div class="form-group">
  {{ form.specie.errors }}
  <label for="{{ form.specie.id_for_label }}">{{ form.specie.label }}</label>
  {{ form.specie }}
</div>
<div class="form-group">
  {{ form.race.errors }}
  <label for="{{ form.race.id_for_label }}">{{ form.race.label }}</label>
  <div class="input-group">
    {{ form.race }}
    <span class="input-group-addon">
      <input id="horracec" type="checkbox" aria-label="Checkbox for following text input" onclick="changehorserace()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.age.errors }}
  <label for="{{ form.age.id_for_label }}">{{ form.age.label }}</label>
  <div class="input-group">
    {{ form.age }}
    <span class="input-group-addon">
      <input id="horagec" type="checkbox" aria-label="Checkbox for following text input" onclick="changehorseage()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.weight.errors }}
  <label for="{{ form.weight.id_for_label }}">{{ form.weight.label }}</label>
  <div class="input-group">
    {{ form.weight }}
    <span class="input-group-addon">
      <input id="horweightc" type="checkbox" aria-label="Checkbox for following text input" onclick="changehorseweight()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.gender.errors }}
  <label for="{{ form.gender.id_for_label }}">{{ form.gender.label }}</label>
  {{ form.gender }}
</div>
<hr>
<div class="form-group">
  <h4>Exámen físico general</h4>
  <div class="form-row">
    <div class="form-group col-md-4">
      {{ form.heart_rate.errors }}
      <label for="{{ form.heart_rate.id_for_label }}">{{ form.heart_rate.label }}</label>
      <div class="input-group">
        {{ form.heart_rate }}
        <span class="input-group-addon">
          <input id="horheartc" type="checkbox" aria-label="Checkbox for following text input" onclick="changehorseheart()">
        </span>
        <span class="input-group-addon">S/D</span>
      </div>
    </div>
    <div class="form-group col-md-4">
      {{ form.respiratory_rate.errors }}
      <label for="{{ form.respiratory_rate.id_for_label }}">{{ form.respiratory_rate.label }}</label>
      <div class="input-group">
        {{ form.respiratory_rate }}
        <span class="input-group-addon">
          <input id="horrespc" type="checkbox" aria-label="Checkbox for following text input" onclick="changehorseresp()">
        </span>
        <span class="input-group-addon">S/D</span>
      </div>
    </div>
    <div class="form-group col-md-4">
      {{ form.temperature.errors }}
      <label for="{{ form.temperature.id_for_label }}">{{ form.temperature.label }}</label>
      <div class="input-group">
        {{ form.temperature }}
        <span class="input-group-addon">
          <input id="hortempc" type="checkbox" aria-label="Checkbox for following text input" onclick="changehorsetemp()">
        </span>
        <span class="input-group-addon">S/D</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    {{ form.capilar.errors }}
    <label for="{{ form.capilar.id_for_label }}">{{ form.capilar.label }}</label>
    <div class="input-group">
      {{ form.capilar }}
      <span class="input-group-addon">
        <input id="horcapc" type="checkbox" aria-label="Checkbox for following text input" onclick="changehorsecap()">
      </span>
      <span class="input-group-addon">Sin datos</span>
    </div>
  </div>
  <div class="form-group">
    {{ form.mucosal_color.errors }}
    <label for="{{ form.mucosal_color.id_for_label }}">{{ form.mucosal_color.label }}</label>
    <div class="input-group">
      {{ form.mucosal_color }}
      <span class="input-group-addon">
        <input id="hormucoc" type="checkbox" aria-label="Checkbox for following text input" onclick="changehorsemucos()">
      </span>
      <span class="input-group-addon">Sin datos</span>
    </div>
  </div>
  <div class="form-group">
    {{ form.lymph_nodes.errors }}
    <label for="{{ form.lymph_nodes.id_for_label }}">{{ form.lymph_nodes.label }}</label>
    <div class="input-group">
      {{ form.lymph_nodes }}
      <span class="input-group-addon">
        <input id="horlymphc" type="checkbox" aria-label="Checkbox for following text input" onclick="changehorselymph()">
      </span>
      <span class="input-group-addon">Sin datos</span>
    </div>
  </div>
  <div class="form-group">
    {{ form.body_condition.errors }}
    <label for="{{ form.body_condition.id_for_label }}">{{ form.body_condition.label }}</label>
    <div class="input-group">
      {{ form.body_condition }}
      <span class="input-group-addon">
        <input id="horcondc" type="checkbox" aria-label="Checkbox for following text input" onclick="changehorsecondition()">
      </span>
      <span class="input-group-addon">Sin datos</span>
    </div>
  </div>
</div>
