<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="caballoModalLabel">Nueva pregunta (Espécimen Equino)</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form method="post" action="contact.php" class="container" id="needs-validation" name="caballoquest" novalidate>
        <h3>Realiza tu pregunta</h3>
        <div class="form-group">
          <label for="pregunta">Pregunta (De forma corta y precisa)</label>
          <input type="text" class="form-control" id="pregunta" name="pregunta">
        </div>
        <div class="form-group">
          <label for="pregLarga">Anexa más información sobre tu pregunta</label>
          <textarea class="form-control" id="pregLarga" name="pregLarga" rows="5"></textarea>
        </div>
        <hr>
        <h4>Reseña</h4>
        <div class="form-group d-none">
          <input type="text" class="form-control" name="animal" value="Equino">
        </div>
        <div class="form-group">
          <label for="Edad" class="col-form-label">Edad</label>
          <input type="text" class="form-control" id="Edad" name="Edad" placeholder="2 años">
        </div>
        <div class="form-group">
          <label for="Peso" class="col-form-label">Peso</label>
          <input type="text" class="form-control" id="Peso" name="Peso" placeholder="0 - 800kg">
        </div>
        <fieldset class="form-group">
          <div class="form-group">
            <p class="col-form-legend">Sexo</p>
            <div class="col-sm-10">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="Sexo" id="Sexo1" value="macho" checked>
                  Macho
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="Sexo" id="Sexo2" value="hembra">
                  Hembra
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="form-group">
          <label for="Estado_fisiologico" class="col-form-label">Estado Fisiológico</label>
          <input type="text" class="form-control" id="Estado_fisiologico" name="Estado_fisiologico" placeholder="Lactante / Gestante / Crecimiento">
        </div>
        <hr>
        <div class="form-group">
          <h4>Motivo de consulta</h4>
          <label for="Consulta" class="col-form-label">Escriba el motivo:</label>
          <input type="text" class="form-control" id="Consulta" name="Consulta" placeholder="Descripción de la consulta">
        </div>
        <hr>
        <div class="form-group">
          <h4>Exámen físico general</h4>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="FC" class="col-form-label">Frecuencia Cardiaca (lpm)</label>
              <input type="text" class="form-control" id="FC" name="FC">
            </div>
            <div class="form-group col-md-4">
              <label for="FR" class="col-form-label">Frecuencia Respiratoria (rpm)</label>
              <input type="text" class="form-control" id="FR" name="FR">
            </div>
            <div class="form-group col-md-4">
              <label for="Temp" class="col-form-label">Temperatura (°C)</label>
              <input type="text" class="form-control" id="Temp" name="Temp">
            </div>
          </div>
          <div class="form-group">
            <label for="Capilar" class="col-form-label">Tiempo de llenado capilar:</label>
            <input type="text" class="form-control" id="Capilar" name="Capilar" placeholder="">
            <label for="Mucosas" class="col-form-label">Coloración de Mucosas:</label>
            <input type="text" class="form-control" id="Mucosas" name="Mucosas" placeholder="">
            <label for="Linfonodo" class="col-form-label">Linfonodos:</label>
            <input type="text" class="form-control" id="Linfonodo" name="Linfonodo" placeholder="">
          </div>
          <div class="form-group">
            <label for="Clinica">Historia Clínica</label>
            <textarea class="form-control" id="Clinica" name="Clinica" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="images">Imagenes</label>
            <input type="file" name="imgages[]" multiple>
          </div>
        </div>
        <div class="buttonSection d-flex flex-wrap justify-content-around">
          <input type="submit" class="caballomailitbtn btn btn-success" value="Crear Pregunta" />
          <input type="reset" class="btn btn-danger" data-dismiss="modal" aria-label="Close" value="Salir" />
        </div>
      </form>
    </div>
  </div>
</div>