{{ form.non_field_errors }}
<hr>
<h4>Reseña</h4>
<div class="form-group">
  {{ form.specie.errors }}
  <label for="{{ form.specie.id_for_label }}">{{ form.specie.label }}</label>
  {{ form.specie }}
</div>
<div class="form-group">
  {{ form.race.errors }}
  <label for="{{ form.race.id_for_label }}">{{ form.race.label }}</label>
  <div class="input-group">
    {{ form.race }}
    <span class="input-group-addon">
      <input id="porracec" type="checkbox" aria-label="Checkbox for following text input" onclick="porchangerace()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.age.errors }}
  <label for="{{ form.age.id_for_label }}">{{ form.age.label }}</label>
  <div class="input-group">
    {{ form.age }}
    <span class="input-group-addon">
      <input id="poragec" type="checkbox" aria-label="Checkbox for following text input" onclick="porchangeage()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.weight.errors }}
  <label for="{{ form.weight.id_for_label }}">{{ form.weight.label }}</label>
  <div class="input-group">
    {{ form.weight }}
    <span class="input-group-addon">
      <input id="porweightc" type="checkbox" aria-label="Checkbox for following text input" onclick="porchangeweight()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.gender.errors }}
  <label for="{{ form.gender.id_for_label }}">{{ form.gender.label }}</label>
  {{ form.gender }}
</div>
<div class="form-group">
  {{ form.physiological_stage.errors }}
  <label for="{{ form.physiological_stage.id_for_label }}">{{ form.physiological_stage.label }}</label>
  <div class="input-group">
    {{ form.physiological_stage }}
    <span class="input-group-addon">
      <input id="porphysioc" type="checkbox" aria-label="Checkbox for following text input" onclick="porchangephysio()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.production_system.errors }}
  <label for="{{ form.production_system.id_for_label }}">{{ form.production_system.label }}</label>
  <div class="input-group">
    {{ form.production_system }}
    <span class="input-group-addon">
      <input id="porprodc" type="checkbox" aria-label="Checkbox for following text input" onclick="porchangeprod()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.curse.errors }}
  <label for="{{ form.curse.id_for_label }}">{{ form.curse.label }}</label>
  <div class="input-group">
    {{ form.curse }}
    <span class="input-group-addon">
      <input id="porcursec" type="checkbox" aria-label="Checkbox for following text input" onclick="porchangecurse()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<hr>
<div class="form-group">
  <h4>Exámen físico general</h4>
  <div class="form-row">
    <div class="form-group col-md-4">
      {{ form.heart_rate.errors }}
      <label for="{{ form.heart_rate.id_for_label }}">{{ form.heart_rate.label }}</label>
      <div class="input-group">
        {{ form.heart_rate }}
        <span class="input-group-addon">
          <input id="porheartc" type="checkbox" aria-label="Checkbox for following text input" onclick="porchangeheart()">
        </span>
        <span class="input-group-addon">S/D</span>
      </div>
    </div>
    <div class="form-group col-md-4">
      {{ form.respiratory_rate.errors }}
      <label for="{{ form.respiratory_rate.id_for_label }}">{{ form.respiratory_rate.label }}</label>
      <div class="input-group">
        {{ form.respiratory_rate }}
        <span class="input-group-addon">
          <input id="porrespc" type="checkbox" aria-label="Checkbox for following text input" onclick="porchangeresp()">
        </span>
        <span class="input-group-addon">S/D</span>
      </div>
    </div>
    <div class="form-group col-md-4">
      {{ form.temperature.errors }}
      <label for="{{ form.temperature.id_for_label }}">{{ form.temperature.label }}</label>
      <div class="input-group">
        {{ form.temperature }}
        <span class="input-group-addon">
          <input id="portempc" type="checkbox" aria-label="Checkbox for following text input" onclick="porchangetemp()">
        </span>
        <span class="input-group-addon">S/D</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    {{ form.color.errors }}
    <label for="{{ form.color.id_for_label }}">{{ form.color.label }}</label>
    <div class="input-group">
      {{ form.color }}
      <span class="input-group-addon">
        <input id="porcolorc" type="checkbox" aria-label="Checkbox for following text input" onclick="porchangecolor()">
      </span>
      <span class="input-group-addon">Sin datos</span>
    </div>
  </div>
  <div class="form-group">
    {{ form.attitude.errors }}
    <label for="{{ form.attitude.id_for_label }}">{{ form.attitude.label }}</label>
    <div class="input-group">
      {{ form.attitude }}
      <span class="input-group-addon">
        <input id="porattc" type="checkbox" aria-label="Checkbox for following text input" onclick="porchangeatt()">
      </span>
      <span class="input-group-addon">Sin datos</span>
    </div>
  </div>
  <div class="form-group">
    {{ form.body_condition.errors }}
    <label for="{{ form.body_condition.id_for_label }}">{{ form.body_condition.label }}</label>
    <div class="input-group">
      {{ form.body_condition }}
      <span class="input-group-addon">
        <input id="porcondc" type="checkbox" aria-label="Checkbox for following text input" onclick="porchangecond()">
      </span>
      <span class="input-group-addon">Sin datos</span>
    </div>
  </div>
</div>
