{{ porcine_form.non_field_errors }}
<hr>
<h4>Reseña</h4>
<div class="form-group">
  {{ form.specie.errors }}
  <label for="{{ form.specie.id_for_label }}">{{ form.specie.label }}</label>
  {{ form.specie }}
</div>
<div class="form-group">
  {{ form.race.errors }}
  <label for="{{ form.race.id_for_label }}">{{ form.race.label }}</label>
  {{ form.race }}
</div>
<div class="form-group">
  {{ form.age.errors }}
  <label for="{{ form.age.id_for_label }}">{{ form.age.label }}</label>
  {{ form.age }}
</div>
<div class="form-group">
  {{ form.weight.errors }}
  <label for="{{ form.weight.id_for_label }}">{{ form.weight.label }}</label>
  {{ form.weight }}
</div>
<div class="form-group">
  {{ form.gender.errors }}
  <label for="{{ form.gender.id_for_label }}">{{ form.gender.label }}</label>
  {{ form.gender }}
</div>
<div class="form-group">
  {{ form.physiological_stage.errors }}
  <label for="{{ form.physiological_stage.id_for_label }}">{{ form.physiological_stage.label }}</label>
  {{ form.physiological_stage }}
</div>
<div class="form-group">
  {{ form.production_system.errors }}
  <label for="{{ form.production_system.id_for_label }}">{{ form.production_system.label }}</label>
  {{ form.production_system }}
</div>
<div class="form-group">
  {{ form.curse.errors }}
  <label for="{{ form.curse.id_for_label }}">{{ form.curse.label }}</label>
  {{ form.curse }}
</div>
<hr>
<div class="form-group">
  <h4>Exámen físico general</h4>
  <div class="form-row">
    <div class="form-group col-md-4">
      {{ form.heart_rate.errors }}
      <label for="{{ form.heart_rate.id_for_label }}">{{ form.heart_rate.label }}</label>
      {{ form.heart_rate }}
    </div>
    <div class="form-group col-md-4">
      {{ form.respiratory_rate.errors }}
      <label for="{{ form.respiratory_rate.id_for_label }}">{{ form.respiratory_rate.label }}</label>
      {{ form.respiratory_rate }}
    </div>
    <div class="form-group col-md-4">
      {{ form.temperature.errors }}
      <label for="{{ form.temperature.id_for_label }}">{{ form.temperature.label }}</label>
      {{ form.temperature }}
    </div>
  </div>
  <div class="form-group">
    {{ form.color.errors }}
    <label for="{{ form.color.id_for_label }}">{{ form.color.label }}</label>
    {{ form.color }}
    {{ form.attitude.errors }}
    <label for="{{ form.attitude.id_for_label }}">{{ form.attitude.label }}</label>
    {{ form.attitude }}
  </div>
  <div class="form-group">
    {{ form.body_condition.errors }}
    <label for="{{ form.body_condition.id_for_label }}">{{ form.body_condition.label }}</label>
    {{ form.body_condition }}
  </div>
</div>
