{{ form.non_field_errors }}
<hr>
<h4>Reseña</h4>
<div class="form-group">
  {{ form.specie.errors }}
  <label for="{{ form.specie.id_for_label }}">{{ form.specie.label }}</label>
  {{ form.specie }}
</div>
<div class="form-group">
  {{ form.race.errors }}
  <label for="{{ form.race.id_for_label }}">{{ form.race.label }}</label>
  <div class="input-group">
    {{ form.race }}
    <span class="input-group-addon">
      <input id="oviracec" type="checkbox" aria-label="Checkbox for following text input" onclick="ovichangerace()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.age.errors }}
  <label for="{{ form.age.id_for_label }}">{{ form.age.label }}</label>
  <div class="input-group">
    {{ form.age }}
    <span class="input-group-addon">
      <input id="oviagec" type="checkbox" aria-label="Checkbox for following text input" onclick="ovichangeage()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
  <div class="input-group-addon">
    <label><input id="oviday" type="checkbox" value=" días"> días</label>
    <p>&nbsp;&nbsp;</p>
    <label><input id="ovimonth" type="checkbox" value=" semanas"> semanas</label>
    <p>&nbsp;&nbsp;</p>
    <label><input id="oviyear" type="checkbox" value=" años"> años</label>
  </div>
</div>
<div class="form-group">
  {{ form.weight.errors }}
  <label for="{{ form.weight.id_for_label }}">{{ form.weight.label }}</label>
  <div class="input-group">
    {{ form.weight }}
    <span class="input-group-addon">
      <input id="oviweightc" type="checkbox" aria-label="Checkbox for following text input" onclick="ovichangeweight()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.gender.errors }}
  <label for="{{ form.gender.id_for_label }}">{{ form.gender.label }}</label>
  {{ form.gender }}
</div>
<div class="form-group">
  {{ form.physiological_stage.errors }}
  <label for="{{ form.physiological_stage.id_for_label }}">{{ form.physiological_stage.label }}</label>
  <div class="input-group">
    {{ form.physiological_stage }}
    <span class="input-group-addon">
      <input id="oviphysioc" type="checkbox" aria-label="Checkbox for following text input" onclick="ovichangephysio()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.production_system.errors }}
  <label for="{{ form.production_system.id_for_label }}">{{ form.production_system.label }}</label>
  <div class="input-group">
    {{ form.production_system }}
    <span class="input-group-addon">
      <input id="oviprodc" type="checkbox" aria-label="Checkbox for following text input" onclick="ovichangeprod()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<div class="form-group">
  {{ form.zootechnical.errors }}
  <label for="{{ form.zootechnical.id_for_label }}">{{ form.zootechnical.label }}</label>
  <div class="input-group">
    {{ form.zootechnical }}
    <span class="input-group-addon">
      <input id="ovizooc" type="checkbox" aria-label="Checkbox for following text input" onclick="ovichangezoo()">
    </span>
    <span class="input-group-addon">Sin datos</span>
  </div>
</div>
<hr>
<div class="form-group">
  <h4>Exámen físico general</h4>
  <div class="form-row">
    <div class="form-group col-md-4">
      {{ form.heart_rate.errors }}
      <label for="{{ form.heart_rate.id_for_label }}">{{ form.heart_rate.label }}</label>
      <div class="input-group">
        {{ form.heart_rate }}
        <span class="input-group-addon">
          <input id="oviheartc" type="checkbox" aria-label="Checkbox for following text input" onclick="ovichangeheart()">
        </span>
        <span class="input-group-addon">S/D</span>
      </div>
    </div>
    <div class="form-group col-md-4">
      {{ form.respiratory_rate.errors }}
      <label for="{{ form.respiratory_rate.id_for_label }}">{{ form.respiratory_rate.label }}</label>
      <div class="input-group">
        {{ form.respiratory_rate }}
        <span class="input-group-addon">
          <input id="ovirespc" type="checkbox" aria-label="Checkbox for following text input" onclick="ovichangeresp()">
        </span>
        <span class="input-group-addon">S/D</span>
      </div>
    </div>
    <div class="form-group col-md-4">
      {{ form.temperature.errors }}
      <label for="{{ form.temperature.id_for_label }}">{{ form.temperature.label }}</label>
      <div class="input-group">
        {{ form.temperature }}
        <span class="input-group-addon">
          <input id="ovitempc" type="checkbox" aria-label="Checkbox for following text input" onclick="ovichangetemp()">
        </span>
        <span class="input-group-addon">S/D</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    {{ form.mucosal_color.errors }}
    <label for="{{ form.mucosal_color.id_for_label }}">{{ form.mucosal_color.label }}</label>
    <div class="input-group">
      {{ form.mucosal_color }}
      <span class="input-group-addon">
        <input id="ovimucosc" type="checkbox" aria-label="Checkbox for following text input" onclick="ovichangemucos()">
      </span>
      <span class="input-group-addon">Sin datos</span>
    </div>
  </div>
  <div class="form-group">
    {{ form.lymph_nodes.errors }}
    <label for="{{ form.lymph_nodes.id_for_label }}">{{ form.lymph_nodes.label }}</label>
    <div class="input-group">
      {{ form.lymph_nodes }}
      <span class="input-group-addon">
        <input id="ovilymphc" type="checkbox" aria-label="Checkbox for following text input" onclick="ovichangelymph()">
      </span>
      <span class="input-group-addon">Sin datos</span>
    </div>
  </div>
  <div class="form-group">
    {{ form.ruminal.errors }}
    <label for="{{ form.ruminal.id_for_label }}">{{ form.ruminal.label }}</label>
    <div class="input-group">
      {{ form.ruminal }}
      <span class="input-group-addon">
        <input id="oviruminalc" type="checkbox" aria-label="Checkbox for following text input" onclick="ovichangeruminal()">
      </span>
      <span class="input-group-addon">Sin datos</span>
    </div>
  </div>
  <div class="form-group">
    {{ form.body_condition.errors }}
    <label for="{{ form.body_condition.id_for_label }}">{{ form.body_condition.label }}</label>
    <div class="input-group">
      {{ form.body_condition }}
      <span class="input-group-addon">
        <input id="ovicondc" type="checkbox" aria-label="Checkbox for following text input" onclick="ovichangecond()">
      </span>
      <span class="input-group-addon">Sin datos</span>
    </div>
  </div>
</div>
