body {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #000;
  background-color: #87BFFF;
  font-smooth: antialised; }

.pageContainer {
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF; }

a.link {
  color: #fefefe;
  font-weight: 300;
  transition: all .3s ease; }

a.link:hover {
  text-decoration: none;
  color: #a0a0a0; }

a.unam-primary:hover {
  background-color: #FFFFFF !important;
  color: #016FB9 !important;
  border: 1px solid #016FB9 !important;
  transition: all 0.7s ease-in-out; }

a.unam-dark:hover {
  background-color: #FFFFFF !important;
  color: #064789 !important;
  border: 1px solid #064789 !important;
  transition: all 0.7s ease-in-out; }

.wbreak {
  word-break: break-word; }

.btn-danger {
  color: #FFFFFF;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important; }

.btn-success {
  color: #FFFFFF;
  background-color: #28a745 !important;
  border-color: #28a745 !important; }

.buttonSection input {
  min-width: 200px;
  font-size: 20px;
  line-height: 30px; }

.btn {
  cursor: pointer; }

.btn-outline-light:hover {
  color: #353535; }

.unam-dark {
  background-color: #064789;
  color: #FFFFFF; }

.unam-primary {
  background-color: #016FB9;
  color: #FFFFFF; }

.jumbotron {
  background-color: rgba(233, 236, 239, 0.8); }

.bck1 {
  background-image: url(../images/erizo.jpg);
  background-size: contain;
  background-repeat: repeat;
  background-position: center center; }

.bck2 {
  background-image: url(../images/fox.jpg);
  background-size: contain;
  background-repeat: repeat;
  background-position: center center; }

.bck3 {
  background-image: url(../images/squirrel.jpg);
  background-size: contain;
  background-repeat: repeat;
  background-position: center center; }

.bck4 {
  background-image: url(../images/venado.jpg);
  background-size: contain;
  background-repeat: repeat;
  background-position: center center; }

.bckBlue {
  background-color: #189ada;
  min-height: 300px;
  color: #FFF; }

.bckLight {
  background-color: #5eb8e4;
  min-height: 300px;
  color: #FFF; }

#mainBanner {
  width: 100%;
  height: 400px;
  background-image: url(../images/main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column; }

#mainLogo {
  background-color: #FFF;
  border-radius: 20px 20px 10px 10px;
  height: 50px;
  width: auto; }

.bannerText {
  font-weight: bold;
  max-width: 600px; }

.infoSquares i {
  font-size: 35px;
  margin-top: 10px; }

#mainBar {
  min-height: 450px;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center center;
  justify-content: flex-end;
  align-items: center; }

#loginForm input {
  width: 80%; }

#loginForm .btnSubmit {
  width: initial; }

.mainMenu {
  padding: 0; }

.navbar-nav li a {
  font-size: 20px; }

.logIn {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #212121; }

.newQuestion {
  margin: 10px auto;
  max-width: 200px;
  display: none; }

.infoText {
  margin-bottom: 0;
  background-color: #DFF0E8; }

.speciesMenu {
  max-width: 1000px;
  margin: 20px auto !important;
  margin-bottom: 0 !important; }

.animals {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .animals a {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 1px solid #C1CC99;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    transition: all 0.3s ease-in-out; }
  .animals a:hover {
    cursor: pointer;
    border: 3px solid #016FB9;
    background-color: #C1CC99; }
  .animals img {
    width: 100px;
    height: auto; }

.card-banner {
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }

.foroContainer {
  margin: 0; }

.card-container .card {
  width: 100%;
  max-width: 650px; }

#cuestionContainer {
  min-height: 100vh; }

#gallery {
  margin: 0 auto; }

.ug-textpanel-textwrapper {
  display: none !important; }

#cuestion .questionSingle {
  max-width: 900px;
  margin: 0 auto; }

.footer {
  font-size: 1.2rem;
  background-color: #064789;
  min-height: 5rem;
  align-items: center;
  display: flex;
  padding: .2rem 2rem; }

.text-muted a {
  color: #FFFFFF !important;
  font-weight: 300;
  opacity: .8; }
.text-muted a:hover {
  color: #CCD44D !important;
  border-bottom: 1px dotted #BDBDBD; }

.Dashboard {
  min-height: 400px; }

.Dashboard h3 {
  margin-top: 10px; }

#userQuestions,
#userChats,
#userFilters {
  height: 150px;
  overflow-y: scroll; }

.userimg {
  width: 100px;
  height: auto; }

p.calif {
  font-size: 40px;
  font-weight: bold; }

.profStar > * {
  font-size: 25px;
  margin-right: 5px; }

@media screen and (min-width: 550px) {
  .logIn {
    max-width: 20rem; } }
@media screen and (min-width: 768px) {
  .card {
    margin: 15px 0; }

  .welcome-buttons {
    flex-direction: row; }
    .welcome-buttons .newQuestion {
      margin: 0; }

  .Dashboard {
    min-height: 200px; }

  .Dashboard h3 {
    margin-top: initial; } }
@media screen and (min-width: 1024px) {
  #mainLogo {
    width: auto;
    height: 70px;
    margin-right: 20px; }

  .navbar-nav li a {
    font-size: 25px; }

  .h1 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.1; }

  .logIn {
    margin-right: 50px; } }

/*# sourceMappingURL=master.css.map */
