{% load static %}

<nav class="navbar navbar-light bg-light navbar-expand-lg">
  <a class="navbar-brand d-flex align-items-center" href="{% url 'home:inicio' %}">
    <img id="mainLogo" src="{% static 'images/logo.png' %}" class="d-inline-block align-top mr-2" alt="FMVZ logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav  ml-auto mr-2">
      {% if user.rol == 'AD' %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home:register' %}">Registro de usuario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:index' %}">Administración</a>
      </li>
      {% endif %}
      {% if not user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home:inicio' %}">Inicio</a>
      </li>
      {% endif %}
      {% if user.rol == 'TC' or user.rol == 'ST' %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home:inicio' %}">Mis preguntas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home:articulos' %}">Aprendizaje</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home:nosotros' %}">Nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home:reglamento' %}">Reglamento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home:tutorial' %}">Tutorial</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home:logout' %}">Cerrar Sesion</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>