{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="pageContainer">
  <header class="unam-primary sticky-top">
    <div class="container-fluid mainMenu">
      {% block navigation %}
      {% include 'base/nav.html' %}
      {% endblock %}
    </div>
  </header>
  <div class="container-fuid">
    <div id="mainBanner" class="d-flex justify-content-around align-items-center">
      <img src="{% static 'images/logo.png' %}" alt="Pet Gurú">
      <p class="bannerText lead mx-2 text-center">Sistéma de apoyo para los alumnos de la Facultad de Medicina Veterinaria y Zootecnia.</p>
    </div>
    <div class="row foroContainer">
      <main id="foroMain" class="col-12 pt-3">
        <div class="jumbotron">
          <h3 class="text-center text-uppercase pb-4">Bienvenido {{ request.user.username }}</h3>
          <div class="row container-fluid m-auto p-0">
            <div class="Dashboard col d-flex flex-wrap">
              <div class="col-sm-12 col-md-3 d-flex p-0 text-center flex-column justify-content-around">
                <img src="{% static 'images/user.png' %}" alt="User image" class="mb-2 img-thumbnail rounded-circle mx-auto d-block userimg">
                <p>Usuario: {{ user }}</p>
                {% if request.user.rol == 'TC' %}
                <p>Tipo de usuario: profesor</p>
                <p>Especialidad: {{ user.speciality }}</p>
                {% endif %}
                {% if request.user.rol == 'AD' %}
                <p>Tipo de usuario: request.user.get_rol_display</p>
                {% endif %}
                <p>Calificacion: {{ avg }}</p>
                <div class="row text-center d-flex justify-content-center profStar">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
            <div class="col-sm-12 col-md-9 p-0">
              <div id="mailLike" class="col-sm-12 w-100 p-0 text-center d-flex flex-column justify-content-around">
                <h3 class=" mb-3">Mís preguntas:</h3>
                <div class="row pl-5 py-3">
                  <button id="mailToogle" class="btn btn-primary m-1" style="min-width:50px;" onclick="showMail();"><i class="fa fa-list" aria-hidden="true"></i></button>
                  <button id="cardToggle" class="btn btn-primary m-1" style="min-width:50px;" onclick="showCard()"><i class="fa fa-credit-card" aria-hidden="true"></i></button>
                </div>

                <div id="userQuestions" class="col questContainer">
                  <table id="userTable" class="w-100 justify-content-around">
                    <thead>
                      <tr class="bg-dark text-white h4 text-uppercase">
                        <th id="questionField" class="text-center">Pregunta</th>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Estatus</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for solved in solveds %}
                      <tr>
                        <td>
                          <a href="{{ solved.get_absolute_url }}" style="color:#000000; text-decoration:none;">{{ solved.title }}</a>
                        </td>
                        <td class="text-center">
                          {% if solved.status == 'OP' %}
                          <a href="{{ solved.get_absolute_url }}"> <button class="btn btn-success mail-btn">En espera</button> </a>
                          {% elif solved.status == 'RP' %}
                          <a href="{{ solved.get_absolute_url }}"><button class="btn btn-warning mail-btn" style="cursor: default">Contestando</button></a>
                          {% else %}
                          <a href="{{ solved.get_absolute_url }}"><button class="btn btn-danger mail-btn" style="cursor: default">Cerrada</button></a>
                          {% endif %}
                        </td>
                        <td  class="text-center">
                          {{ solved.date }}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>

                <div id="userCards" class="col questContainer">
                  <div class="row d-flex flex-row justify-content-around">
                    {% for solved in solveds %}
                      <div class="card articleCard">
                        <div class="card-header">
                          <h4 class="card-title">{{ solved.title }}</h4>
                        </div>
                        <div class="card-body d-flex flex-column justify-content-lg-around">
                          <p class="card-text text-truncate">{{ solved.description }}.</p>
                          {% if solved.status == 'OP' %}
                          <a href="{{ solved.get_absolute_url }}"> <button class="btn btn-success mail-btn">En espera</button> </a>
                          {% elif solved.status == 'RP' %}
                          <a href="{{ solved.get_absolute_url }}"><button class="btn btn-warning mail-btn" style="cursor: default">Contestando</button></a>
                          {% else %}
                          <a href="{{ solved.get_absolute_url }}"><button class="btn btn-danger mail-btn" style="cursor: default">Cerrada</button></a>
                          {% endif %}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>

              </div>
            </div>
            </div>
          </div>
        </div>
        <div class="row">

          
        </div>
      </main>
    </div>
  </div>
</div>
{% endblock %}