{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="pageContainer">
  <header class="unam-primary sticky-top">
    <div class="container-fluid mainMenu">
      {% block navigation %}
      {% include 'base/nav.html' %}
      {% endblock %}
    </div>
  </header>

  <div id="cuestionContainer">
    <div class="container">
      <h2 class="py-3 text-center display-4">{{ titulo }}</h2>
      <h3 class="alert-heading text-center">Descripción de la consulta:</h3>
      <p class="py-3">{{instance.description}}</p>
      <p class="py-2 h4">Calificacón: (agregar) <i class="fa fa-star" aria-hidden="true"></i></p>
    </div>
    <div class="container">
      {% if request.user.rol == 'TC' and instance.status == 'OP'%}
      <a class="btn btn-primary" href="{% url 'chat:chat_room' instance.pk %}" role="button">Chat en Vivo</a>
      <br><br>
      {% elif request.user.rol == 'ST' and instance.status == 'RP'%}
      <a class="btn btn-primary" href="{% url 'chat:chat_room' instance.pk %}" role="button">Chat en Vivo</a>
      <br><br>
      {% elif request.user.pk == instance.user_response.pk  and instance.status == 'RP'%}
      <a class="btn btn-primary" href="{% url 'chat:chat_room' instance.pk %}" role="button">Chat en Vivo</a>
      <br><br>
      {% else %}
      {% endif %}
    </div>
    <div id="cuestion" class="pt-5 pb-1 d-flex flex-column justify-content-center align-items-center">
      <div class="alert alert-success w-100 px-3 py-5" role="alert">
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <h2 class="alert-heading text-center mb-4">Datos clínicos.</h2>
            <p>Especie: {{ instance.specie.get_specie_display }}</p>
          </div>
          <hr>
          <div class="col-sm-12 col-md-8">
            <div id="galleryContainer">
              <div id="gallery" style="display:none;">
                {% for image in images %}
                <img alt="Image 1 Title" src="{{image.image.url}}"
                data-image="{{image.image.url}}"
                data-description="Image 1 Description">
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="questionSingle pt-5 w-100">
        <form id="chatform">
          <table class="table" id="chat">
            <tbody id="bodymessages">
              <!--{% for message in messages %}
              <tr>
                <td>{{ message.formatted_timestamp }}</td>
                <td>{{ message.handle }}</td>
                <td>{{ message.message }}</td>
              </tr> 
              {% endfor %}-->
              <td id="chatmine"></td>
            </tbody>        
          </table>
          <div class="container sendChat position-static mx-auto">
            <input id="message" type="text" autofocus>
            <button type="submit" class="btn btn-primary"  id="go">Enviar</button>     
          </div>        
        </form>   
      </div>
    </div>
  </div>
  {% endblock %} 

  {% block javascript%}
  <script>
  $(function() {
    var div = document.getElementById('divID');

    div.innerHTML += 'Extra stuff';
  });
  </script>

  {% endblock javascript%}