{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="pageContainer">
  <header class="unam-primary sticky-top">
    <div class="container-fluid mainMenu">
      {% block navigation %}
      {% include 'base/nav.html' %}
      {% endblock %}
    </div>
  </header>
  <div id="cuestionContainer">
    <h2 class="py-3 text-center">{{ titulo }}</h2>
    <div id="galleryContainer">
      <div id="gallery" style="display:none;">
        <img alt="Image 1 Title" src="{% static 'images/questions/thumb1.jpg' %}"
        data-image="{% static 'images/questions/thumb1.jpg' %}"
        data-description="Image 1 Description">
        <img alt="Image 2 Title" src="{% static 'images/questions/thumb2.jpg' %}"
        data-image="{% static 'images/questions/thumb2.jpg' %}"
        data-description="Image 2 Description">
        <img alt="Image 3 Title" src="{% static 'images/questions/thumb3.jpg' %}"
        data-image="{% static 'images/questions/thumb3.jpg' %}"
        data-description="Image 3 Description">
        <img alt="Image 4 Title" src="{% static 'images/questions/thumb4.jpg' %}"
        data-image="{% static 'images/questions/thumb4.jpg' %}"
        data-description="Image 4 Description">
      </div>
    </div>
    <div id="cuestion" class="py-5 d-flex flex-column justify-content-center align-items-center">
      <div class="alert alert-success w-75" role="alert">
        <h3 class="alert-heading text-center">Datos clínicos.</h3>
        <p>Especie: {{ instance.specie.get_specie_display }}</p>
        <hr>
        <h4 class="alert-heading text-center">Descripción de la consulta:</h4>
        <p class="mb-0">{{instance.description}}</p>
      </div>
      <p class="questionSingle">
        Las clínicas veterinarias más completas ofrecen a sus clientes la posibilidad de hacer análisis de sangre, más que nada cuando ya son ancianos, porque de esta manera se pueden detectar enfermedades del riñón y del hígado. La diabetes y problemas de tiroides también son diagnosticados mediante análisis de sangre.
      </p>
      {% if  request.user.rol == 'TC' and instance.status == 'OP' %}
      <button type="button" class="btn btn-primary">Responder</button>
      {% endif %}
    </div>
  </div>
  {% endblock %}