
{% extends 'base/base.html' %}
{% block content %}
{% include 'base/nav.html' %}
{% load staticfiles %}

{% block link %}
	<link rel="stylesheet" href="{% static 'css/chat.css' %} "/>
{% endblock link %}

  <div id="chatContainer" class="container">
	  <h1>{{ room.label }}</h1>  
	  <p>
	    <label for="handle">Bienvenido</label>
	    <label id="handle"> {{ request.user.username }} </label>
	  </p>
	  <form id="chatform">
	    <table class="table" id="chat">
	      <tbody id="bodymessages">
	        {% for message in messages %}
	          <tr>
	            <td>{{ message.formatted_timestamp }}</td>
	            <td>{{ message.handle }}</td>
	            <td>{{ message.message }}</td>
	          </tr> 
	        {% endfor %}
	      </tbody>	      
	    </table>
		<div class="container sendChat position-static">
		    <input id="message" type="text" autofocus>
				<button type="button" class="btn_send btn btn-primary">Enviar</button>
		</div>	    	
	  </form>  	
  </div>

{% endblock content %}
{% block footer %} 
    {% include 'base/footer.html' %}
  {% endblock footer %}
{% block javascript%}
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js'></script>
<script type="text/javascript">
$(function() {
    $('.btn_send').click(function(){
			var message = $('#message').val();
			var handler = $('#handle').text();			

			$.ajax({
				url: "{% url 'chat:chat_room' label %}",
				type: 'POST',
				data: {
					csrfmiddlewaretoken: '{{ csrf_token }}',
					'message': message,
					'handler': handler,					
				},
				traditional: true,
				datatype: 'jsonp',
				success: function (result) {
					
				},
			});

		});
    
});
</script>


{% endblock javascript%}
  


