{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="pageContainer">
  <header class="unam-primary sticky-top">
    <div class="container-fluid mainMenu">
      {% block navigation %}
      {% include 'base/nav.html' %}
      {% endblock %}
    </div>
  </header>
  <div class="container-fuid">
    <div id="mainBanner" class="d-flex justify-content-around align-items-center">
      <div class="container-fluid d-inline-flex">
        <img src="{% static 'images/unam.png' %}" alt="Albeitar FMVZ" style="width:20%; heigth:auto; max-width:290px;" class="m-auto">
        <img src="{% static 'images/logo.png' %}" alt="Albeitar FMVZ" style="width:20%; heigth:auto; max-width:290px;" class="m-auto">
        <img src="{% static 'images/fmvz.png' %}" alt="Albeitar FMVZ" style="width:20%; heigth:auto; max-width:290px;" class="m-auto">
      </div>
      <p class="bannerText lead mx-2 text-center">Sistéma de apoyo para los alumnos de la Facultad de Medicina Veterinaria y Zootecnia.</p>
    </div>
    <div class="row foroContainer">
      <main id="foroMain" class="col-12 pt-3">
        <div class="jumbotron">
          <div class="row container-fluid m-auto p-0">
            <div class="col-sm-12 col-md-8 d-flex  mx-auto p-0 align-items-center flex-column justify-content-around">
              <div class="col-12 d-flex  mx-auto p-0 align-items-center flex-column justify-content-around text-center">

                <video width="100%" height="auto" controls>
                  <source src="{% static 'images/tuto.mp4' %}" type="video/mp4">
                  <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video>


              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
{% endblock %}