{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="pageContainer">
  <header class="unam-primary sticky-top">
    <div class="container-fluid mainMenu">
      {% block navigation %}
      {% include 'base/nav.html' %}
      {% endblock %}
    </div>
  </header>  
  <div class="container-fuid">
    <div id="mainBanner" class="d-flex justify-content-around align-items-center">
      <div class="container-fluid d-inline-flex">
        <img src="{% static 'images/unam.png' %}" alt="Albeitar FMVZ" style="width:20%; heigth:auto; max-width:290px;" class="m-auto">
        <img src="{% static 'images/logo.png' %}" alt="Albeitar FMVZ" style="width:20%; heigth:auto; max-width:290px;" class="m-auto">
        <img src="{% static 'images/fmvz.png' %}" alt="Albeitar FMVZ" style="width:20%; heigth:auto; max-width:290px;" class="m-auto">
      </div>
      <p class="bannerText lead mx-2 text-center">Sistéma de apoyo para los alumnos de la Facultad de Medicina Veterinaria y Zootecnia.</p>
    </div>
    <div class="row foroContainer">
      <main id="foroMain" class="col-12 pt-3">
        <div class="jumbotron">
          <h3 class="text-center text-uppercase pb-4">Información de: {{ request.user.username }}</h3>
          <hr>
          <div class="row d-flex justify-content-center">
            <div class="col-12 text-center">
              <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Realiza una pregunta
              </a>
            </div>
            <div class="collapse" id="collapseExample">
              <div class="card card-body speciesMenu">
                <h5 class="text-center">Elige un espécimen</h5>
                <div class="animals m-auto d-flex flex-row flex-wrap">
                  <a data-toggle="modal" data-target="#vacaModal"><img src="{% static 'images/animal/vaca.png' %}" alt="animal icon"></a>
                  <a data-toggle="modal" data-dismiss="modal" data-target="#cerdoModal"><img src="{% static 'images/animal/cerdo.png' %}" alt="animal icon"></a>
                  <a data-toggle="modal" data-dismiss="modal" data-target="#caballoModal"><img src="{% static 'images/animal/caballo.png' %}" alt="animal icon"></a>
                  <a data-toggle="modal" data-dismiss="modal" data-target="#ovejaModal"><img src="{% static 'images/animal/oveja.png' %}" alt="animal icon"></a>
                  <a data-toggle="modal" data-dismiss="modal" data-target="#cabraModal"><img src="{% static 'images/animal/cabra.png' %}" alt="animal icon"></a>
                  <a data-toggle="modal" data-dismiss="modal" data-target="#conejoModal"><img src="{% static 'images/animal/conejo.png' %}" alt="animal icon"></a>
                  <a data-toggle="modal" data-dismiss="modal" data-target="#avesModal"><img src="{% static 'images/animal/pato.png' %}" alt="animal icon"></a>
                  <a data-toggle="modal" data-dismiss="modal" data-target="#perroModal"><img src="{% static 'images/animal/perro.png' %}" alt="animal icon"></a>
                  <a data-toggle="modal" data-dismiss="modal" data-target="#gatoModal"><img src="{% static 'images/animal/gato.png' %}" alt="animal icon"></a>
                  <a data-toggle="modal" data-dismiss="modal" data-target="#silvestreModal"><img src="{% static 'images/animal/fauna.png' %}" alt="animal icon"></a>
                  <a data-toggle="modal" data-dismiss="modal" data-target="#acuaticModal"><img src="{% static 'images/animal/pez.png' %}" alt="animal icon"></a>
                  <a data-toggle="modal" data-dismiss="modal" data-target="#abejaModal"><img src="{% static 'images/animal/abeja.png' %}" alt="animal icon"></a>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="Dashboard row container-fluid m-auto p-0">
            <div class="col-sm-12 col-md-3 d-flex p-0 text-center flex-column justify-content-start mtp-5">
              <img src="{% static 'images/user.png' %}" alt="User image" class="mb-2 img-thumbnail rounded-circle mx-auto d-block userimg">
              <p>Usuario: {{ user }}</p>
              <p>Tipo de usuario: {{ request.user.get_rol_display }}</p>
            </div>            
            <div class="col-sm-12 col-md-9 p-0">
              <div id="mailLike" class="col-sm-12 w-100 p-0 text-center d-flex flex-column justify-content-around">
                <h3 class=" mb-3">Mís preguntas:</h3>
                <div class="row">
                  <input class="col-md-12" type="text" id="myInput" onkeyup="filterTable()" placeholder="Filtrar Resultados...">
                </div>
                <div class="row pl-5 py-3">
                  <button id="mailToogle" class="btn btn-primary m-1" style="min-width:50px;" onclick="showMail();"><i class="fa fa-bars" aria-hidden="true"></i></button>
                  <button id="cardToggle" class="btn btn-primary m-1" style="min-width:50px;" onclick="showCard()"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                </div>                
                <div id="userQuestions" class="col questContainer">
                  <table id="userTable" class="w-100 justify-content-around">
                    <thead>
                      <tr class="bg-dark text-white h4 text-uppercase">
                        <th id="questionField" class="text-center">Pregunta</th>
                        <th class="text-center">Especie</th>
                        <th class="text-center">Estatus</th>
                        <th class="text-center">Fecha</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for solved in solveds %}
                      {% if user == solved.user_question %} 
                      <tr>
                        <td>
                          <a href="{{ solved.get_absolute_url }}" class="pl-2" style="color:#000000; text-decoration:none;">{{ solved.title }}</a>
                        </td>
                        <td>
                          {{ solved.get_specie_display }}
                        </td>
                        <td class="text-center">
                          {% if solved.status == 'OP' %}
                          <a href="{{ solved.get_absolute_url }}"> <button class="btn btn-success mail-btn">En espera</button> </a>
                          {% elif solved.status == 'RP' %}
                          <a href="{{ solved.get_absolute_url }}"><button class="btn btn-warning mail-btn" style="cursor: default">Contestando</button></a>
                          {% else %}
                          <a href="{{ solved.get_absolute_url }}"><button class="btn btn-danger mail-btn" style="cursor: default">Cerrada</button></a>
                          {% endif %}
                        </td>
                        <td  class="text-center">
                          {{ solved.date }}
                        </td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>

                <div id="userCards" class="col questContainer">
                  <div class="row d-flex flex-row justify-content-start">
                    {% for solved in solveds %}
                    {% if user == solved.user_question %}
                    <div class="card articleCard">
                      <div class="card-body d-flex flex-column justify-content-lg-around">
                        <div class="card-title card-banner">
                          <img src="{{ solved.get_first_image }}" class="img-fluid" alt="Question image">
                        </div>
                        <h4 class="card-title">{{ solved.title }}</h4>
                        <p class="card-text text-truncate">{{ solved.description }}.</p>
                        {% if solved.status == 'OP' %}
                        <a href="{{ solved.get_absolute_url }}"> <button class="btn btn-success mail-btn">En espera</button> </a>
                        {% elif solved.status == 'RP' %}
                        <a href="{{ solved.get_absolute_url }}"><button class="btn btn-warning mail-btn" style="cursor: default">Contestando</button></a>
                        {% else %}
                        <a href="{{ solved.get_absolute_url }}"><button class="btn btn-danger mail-btn" style="cursor: default">Cerrada</button></a>
                        {% endif %}
                      </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
<!-- Animal´s modals -->
<!-- Vaca -->
<div class="modal fade" id="vacaModal" tabindex="-1" role="dialog" aria-labelledby="vacaModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Nueva pregunta (Espécimen Bovino)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST" name="" enctype="multipart/form-data" accept-charset="utf-8">
          {% csrf_token %}

          {% include 'question/base.html' with form=baseForm foo="BV" %}
          {% include 'question/cow.html' with form=cow_form %}
          {% include 'question/imageCow.html' %}
          {% include 'question/documentCow.html' %}

          <input type="submit" name="enviar" class="mailitbtn btn btn-success">
          <input type="reset" class="btn btn-danger" data-dismiss="modal" aria-label="Close" value="Salir" />
        </form>
      </div>
    </div>
  </div> 
</div>
<!-- Caballo -->
<div class="modal fade" id="caballoModal" tabindex="-1" role="dialog" aria-labelledby="caballoModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Nueva pregunta (Espécimen Équido)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST" name=""  accept-charset="utf-8" enctype="multipart/form-data" >
          {% csrf_token %}
          {% include 'question/base.html' with form=baseForm  foo="EQ" %}
          {% include 'question/horse.html' with form=horse_form %}
          {% include 'question/imageHorse.html' %}
          {% include 'question/documentHorse.html' %}
          <input type="submit" name="enviar" class="mailitbtn btn btn-success">
          <input type="reset" class="btn btn-danger" data-dismiss="modal" aria-label="Close" value="Salir" />
        </form>
      </div>
    </div>
  </div> 
</div>
<!-- Oveja -->
<div class="modal fade" id="ovejaModal" tabindex="-1" role="dialog" aria-labelledby="ovejaModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Nueva pregunta (Espécimen Borrego)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST" name=""  accept-charset="utf-8" enctype="multipart/form-data" >
          {% csrf_token %}

          {% include 'question/base.html' with form=baseForm  foo="OV" %}
          {% include 'question/sheep.html' with form=ovine_form %}
          {% include 'question/imageOvine.html' %}
          {% include 'question/documentOvine.html' %}

          <input type="submit" name="enviar" class="mailitbtn btn btn-success">
          <input type="reset" class="btn btn-danger" data-dismiss="modal" aria-label="Close" value="Salir" />
        </form>
      </div>
    </div>
  </div> 
</div>
<!-- Cerdo -->
<div class="modal fade" id="cerdoModal" tabindex="-1" role="dialog" aria-labelledby="cerdoModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Nueva pregunta (Espécimen Cerdo)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST" name=""  accept-charset="utf-8" enctype="multipart/form-data" >
          {% csrf_token %}

          {% include 'question/base.html' with form=baseForm  foo="PR" %}
          {% include 'question/pig.html' with form=porcine_form %}
          {% include 'question/imagePig.html' %}
          {% include 'question/documentPig.html' %}

          <input type="submit" name="enviar" class="mailitbtn btn btn-success">
          <input type="reset" class="btn btn-danger" data-dismiss="modal" aria-label="Close" value="Salir" />
        </form>
      </div>
    </div>
  </div> 
</div>
<!-- Conejo -->
<div class="modal fade" id="conejoModal" tabindex="-1" role="dialog" aria-labelledby="conejoModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Nueva pregunta (Espécimen Conejo)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST" name=""  accept-charset="utf-8" enctype="multipart/form-data" >
          {% csrf_token %}

          {% include 'question/base.html' with form=baseForm  foo="LP" %}
          {% include 'question/rabbit.html' with form=rabbit_form %}
          {% include 'question/imageRab.html' %}
          {% include 'question/documentRab.html' %}

          <input type="submit" name="enviar" class="mailitbtn btn btn-success">
          <input type="reset" class="btn btn-danger" data-dismiss="modal" aria-label="Close" value="Salir" />
        </form>
      </div>
    </div>
  </div>  
</div>
<!-- Caprinos -->
<div class="modal fade" id="cabraModal" tabindex="-1" role="dialog" aria-labelledby="cabraModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Nueva pregunta (Espécimen Cabra)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST" name=""  accept-charset="utf-8" enctype="multipart/form-data" >
          {% csrf_token %}

          {% include 'question/base.html' with form=baseForm  foo="CP" %}
          {% include 'question/goat.html' with form=goat_form %}
          {% include 'question/imageGoat.html' %}
          {% include 'question/documentGoat.html' %}

          <input type="submit" name="enviar" class="mailitbtn btn btn-success">
          <input type="reset" class="btn btn-danger" data-dismiss="modal" aria-label="Close" value="Salir" />
        </form>
      </div>
    </div>
  </div> 
</div>
<!-- Aves -->
<div class="modal fade" id="avesModal" tabindex="-1" role="dialog" aria-labelledby="avesModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Nueva pregunta (Espécimen Aves)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST" name=""  accept-charset="utf-8" enctype="multipart/form-data" >
          {% csrf_token %}

          {% include 'question/base.html' with form=baseForm  foo="AV" %}
          {% include 'question/bird.html' with form=bird_form %}
          {% include 'question/imageBird.html' %}
          {% include 'question/documentBird.html' %}

          <input type="submit" name="enviar" class="mailitbtn btn btn-success">
          <input type="reset" class="btn btn-danger" data-dismiss="modal" aria-label="Close" value="Salir" />
        </form>
      </div>
    </div>
  </div> 
</div>
<!-- Perros -->
<div class="modal fade" id="perroModal" tabindex="-1" role="dialog" aria-labelledby="perroModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Nueva pregunta (Espécimen Perro)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST" name=""  accept-charset="utf-8" enctype="multipart/form-data" >
          {% csrf_token %}

          {% include 'question/base.html' with form=baseForm  foo="CN" %}
          {% include 'question/dog.html' with form=dog_form %}
          {% include 'question/imageDog.html' %}
          {% include 'question/documentDog.html' %}

          <input type="submit" name="enviar" class="mailitbtn btn btn-success">
          <input type="reset" class="btn btn-danger" data-dismiss="modal" aria-label="Close" value="Salir" />
        </form>
      </div>
    </div>
  </div> 
</div>
<!-- Gatos -->
<div class="modal fade" id="gatoModal" tabindex="-1" role="dialog" aria-labelledby="gatoModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Nueva pregunta (Espécimen Gato)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST" name=""  accept-charset="utf-8" enctype="multipart/form-data" >
          {% csrf_token %}

          {% include 'question/base.html' with form=baseForm  foo="FL" %}
          {% include 'question/cat.html' with form=cat_form %}
          {% include 'question/imageCat.html' %}
          {% include 'question/documentCat.html' %}

          <input type="submit" name="enviar" class="mailitbtn btn btn-success">
          <input type="reset" class="btn btn-danger" data-dismiss="modal" aria-label="Close" value="Salir" />
        </form>
      </div>
    </div>
  </div> 
</div>
<!-- Fauna Silvestre -->
<div class="modal fade" id="silvestreModal" tabindex="-1" role="dialog" aria-labelledby="faunaModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Nueva pregunta (Fauna silvestre)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST" name=""  accept-charset="utf-8" enctype="multipart/form-data" >
          {% csrf_token %}

          {% include 'question/base.html' with form=baseForm  foo="SL" %}
          {% include 'question/wild.html' with form=wild_form %}
          {% include 'question/imageWild.html' %}
          {% include 'question/documentWild.html' %}

          <input type="submit" name="enviar" class="mailitbtn btn btn-success">
          <input type="reset" class="btn btn-danger" data-dismiss="modal" aria-label="Close" value="Salir" />
        </form>
      </div>
    </div>
  </div> 
</div>
<!-- Abeja -->
<div class="modal fade" id="abejaModal" tabindex="-1" role="dialog" aria-labelledby="faunaModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Nueva pregunta (Abejas)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST" name=""  accept-charset="utf-8" enctype="multipart/form-data" >
          {% csrf_token %}

          {% include 'question/base.html' with form=baseForm  foo="BJ" %}
          {% include 'question/bee.html' with form=bee_form %}
          {% include 'question/imageBee.html' %}
          {% include 'question/documentBee.html' %}

          <input type="submit" name="enviar" class="mailitbtn btn btn-success">
          <input type="reset" class="btn btn-danger" data-dismiss="modal" aria-label="Close" value="Salir" />
        </form>
      </div>
    </div>
  </div> 
</div>
<!-- Organismos acuaticos -->
<div class="modal fade" id="acuaticModal" tabindex="-1" role="dialog" aria-labelledby="faunaModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Nueva pregunta (Organismos Acuáticos)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST" name=""  accept-charset="utf-8" enctype="multipart/form-data" >
          {% csrf_token %}

          {% include 'question/base.html' with form=baseForm  foo="AQ" %}
          {% include 'question/aquatic.html' with form=aquatic_form %}
          {% include 'question/imageAq.html' %}
          {% include 'question/documentAq.html' %}

          <input type="submit" name="enviar" class="mailitbtn btn btn-success">
          <input type="reset" class="btn btn-danger" data-dismiss="modal" aria-label="Close" value="Salir" />
        </form>
      </div>
    </div>
  </div> 
</div>
{% endblock %}

{% block javascript%}
<script type="text/javascript">
  function filterTable() {
    // Declare variables 
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("userTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

</script>
{% endblock javascript%}
